In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import docx

from docx import Document
from docx.oxml import OxmlElement
from docx.oxml.ns import qn
from docx.shared import Cm
from docx.shared import Pt

from docx.enum.section import WD_ORIENT
from docx.enum.section import WD_SECTION

In [2]:
fb_now = 172
to_now = 1100

In [3]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autop')-1]
data_path = os.path.join(home_path, 'Data', 'edin_diss', 'SAP_tax', str(fb_now))
flurnamen_path = os.path.join(home_path, 'Data', 'edin_diss', 'SAP_tax', 'Flurnamen_' + str(fb_now) + '.xlsx')
print(data_path)
print(flurnamen_path)

/home/philipp/Data/edin_diss/SAP_tax/172
/home/philipp/Data/edin_diss/SAP_tax/Flurnamen_172.xlsx

In [4]:
from OBFFlTab import OBFFlTab

# set Teiloperats-ID
#to_now = '1355' # 1343, 1341, 1345, 1353, 1354, 1355, 1356, 1361

# run program
obf_main = OBFFlTab(str(to_now), data_path, flurnamen_path)

-----------------------------------------------------
-                                                   -
-                   files exist                     -
-                                                   -
-----------------------------------------------------
SAP Rohdaten:       TO_1100.XLS:             True
-----------------------------------------------------
Zusatz Dateien:     dict:                        True
-----------------------------------------------------

/home/philipp/miniconda3/envs/autop/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (149) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

***   0 Deckblatt   ***
***   1 Abkürzungsverzeichnis   ***
***   2 Flächentabellen   ***
---------------------------   3   ---------------------------
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
297
298
299
300
391
392
393
394
395
396
397
398
399
400
401
402
403
404
563
564
565
566
567
568
569
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
end
successfully made in /home/philipp/Data/edin_diss/SAP_tax/172

In [6]:
obf_main.run()

'background data is missing, the TO could not be made'

In [5]:
data_flur = pd.read_excel(flurnamen_path)

In [9]:
data_flur = data_flur.fillna('')

In [10]:
data_flur[(data_flur['FR']==2) & (data_flur['ABT']==732)]

      FB  FR  ABT Flurname
129  174   2  732

In [ ]:
# try of multiprocessing (not working)

In [2]:
import multiprocessing as mp
from itertools import product

from OBFFlTab import OBFFlTab

# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autop')-1]
# set data path
data_path = os.path.join(home_path, 'Data', 'obf_autop')
print(data_path)

# create irratable array of tuples
input_data = [(data_path, to) for to in [1353, 1354, 1355, 1361]]

print("Number of processors: ", mp.cpu_count())

# set Teiloperats-ID
#to_now = '1361' # 1341, 1342, 1343, 1345, 1353, 1354, 1355, 1361

# run program
#obf_main = OBFFlTab(data_path, to_now)

with mp.Pool(mp.cpu_count()) as pool:
    pool.starmap(OBFFlTab, input_data)

/home/philipp/Data/obf_autop
Number of processors:  4
-----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------
-                                                   -
-                                                   -
-----------------------------------------------------
-                   files exist                     -
-                                                   -
-                   files exist                     -
-                                                   -
-                                                   -
-                   files exist                     -
-                                                   -
-----------------------------------------------------
-                                                   -
-----------------------------------------------------
-                   files exist                     -
-----------------------------------------------------
-                                                   -
-----------------------------------------------------

TypeError: can only concatenate str (not "int") to str

In [8]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/python/obf_autop')-1]
# set data_path
data_path = os.path.join(home_path, 'Data', 'obf_autop', 'TO1356', 'to_1356_sap.XLS')

'/Users/philipp/Data/obf_autop'

In [10]:
from OBFFlaechentabelle import OBFFlaechentabelle
data_path = os.path.join(home_path, 'Data', 'obf_autop', 'TO1361', 'to_1361_sap.XLS')
obf_flt = OBFFlaechentabelle(pd.read_csv(data_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False))

/Users/philipp/Python/anaconda3/envs/docx/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (149) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
data_raw = pd.read_csv(data_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

In [12]:
from OBFFlaechentabelle import OBFFlaechentabelle
flt = OBFFlaechentabelle(data_raw)

In [13]:
print(flt.fr)
print(flt.fr_abt[0])

[5 6 7]
[301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318
 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336
 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 478 479 480
 481 482 483 484 485 486 487]

In [16]:
x = flt.create_table(5,301)
x

,Abt,UAbt,TF,WE,BKL,UZ,ES,BW,SW,NG,Fl WW,Fl SW,Fl NHB,Fl pNG,Fl uNG,Fl Ges
20545,301,A,1,WO,9070,200,A,S,S,-,-,11.41,-,-,-,11.41
20586,301,A,2,WO,9070,200,A,S,S,-,-,2.13,-,-,-,2.13
20560,301,A,3,WO,9070,200,A,S,S,-,-,0.75,-,-,-,0.75
20561,301,A,3,WO,9070,200,A,S,S,-,-,0,-,-,-,0.00
20563,301,A,3,WO,9070,200,A,S,S,-,-,0,-,-,-,0.00
20565,301,A,3,WO,9070,200,A,S,S,-,-,0,-,-,-,0.00
20497,301,A,4,WO,9070,200,A,S,S,-,-,0.31,-,-,-,0.31
20498,301,A,4,WO,9070,200,A,S,S,-,-,0,-,-,-,0.00
20500,301,A,4,WO,9070,200,A,S,S,-,-,0,-,-,-,0.00
20502,301,A,4,WO,9070,200,A,S,S,-,-,0,-,-,-,0.00
20962,301,B,1,WO,9070,160,I,S,S,-,-,19.44,-,-,-,19.44
20885,301,B,2,WO,9070,160,I,S,S,-,-,6.92,-,-,-,6.92
20855,301,C,1,WO,9070,160,I,S,S,-,-,10.1,-,-,-,10.10
20836,301,C,2,WO,9070,160,I,S,S,-,-,0.37,-,-,-,0.37
20801,301,C,3,WO,9070,160,I,S,S,-,-,1.12,-,-,-,1.12
20777,301,C,4,WO,9070,160,I,S,S,-,-,1.41,-,-,-,1.41
20778,301,C,4,WO,9070,160,I,S,S,-,-,0,-,-,-,0.00
20783,301,C,4,WO,9070,160,I,S,S,-,-,0,-,-,-,0.00
20784,301,C,4,WO,9070,160,I,S,S,-,-,0,-,-,-,0.00
20714,301,D,0,WO,9070,200,A,S,S,-,-,11.63,-,-,-,11.63
20680,301,E,1,WO,9070,160,I,S,S,-,-,18.54,-,-,-,18.54
20644,301,E,2,WO,9070,160,I,S,S,-,-,1.24,-,-,-,1.24
20646,301,E,2,WO,9070,160,I,S,S,-,-,0,-,-,-,0.00
20647,301,E,2,WO,9070,160,I,S,S,-,-,0,-,-,-,0.00
20651,301,E,2,WO,9070,160,I,S,S,-,-,0,-,-,-,0.00
20632,301,E,3,WO,9070,160,I,S,S,-,-,1.3,-,-,-,1.30
20633,301,E,3,WO,9070,160,I,S,S,-,-,0,-,-,-,0.00
20635,301,E,3,WO,9070,160,I,S,S,-,-,0,-,-,-,0.00
20639,301,E,3,WO,9070,160,I,S,S,-,-,0,-,-,-,0.00
20895,301,F,1,WO,9070,160,I,S,S,-,-,2.03,-,-,-,2.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3159,301,1,1,NG,-,0,-,-,-,1,-,-,-,-,0.86,0.86
3155,301,1,2,NG,-,0,-,-,-,1,-,-,-,-,0.1,0.10
3145,301,1,3,NG,-,0,-,-,-,1,-,-,-,-,0.36,0.36
3137,301,1,4,NG,-,0,-,-,-,1,-,-,-,-,0.72,0.72
3131,301,1,5,NG,-,0,-,-,-,1,-,-,-,-,0.31,0.31
3124,301,1,6,NG,-,0,-,-,-,1,-,-,-,-,0.54,0.54
3114,301,1,7,NG,-,0,-,-,-,1,-,-,-,-,0.2,0.20
3104,301,1,8,NG,-,0,-,-,-,1,-,-,-,-,0.59,0.59
3097,301,1,9,NG,-,0,-,-,-,1,-,-,-,-,0.25,0.25
21339,301,1,10,NG,-,0,-,-,-,1,-,-,-,-,1.13,1.13
21276,301,1,11,NG,-,0,-,-,-,1,-,-,-,-,0.18,0.18
21190,301,3,1,NG,-,0,-,-,-,3,-,-,0.55,-,-,0.55
21182,301,3,2,NG,-,0,-,-,-,3,-,-,0.07,-,-,0.07
21131,301,3,3,NG,-,0,-,-,-,3,-,-,0.02,-,-,0.02
20854,301,4,1,NG,-,0,-,-,-,4,-,-,0.04,-,-,0.04
20758,301,5,1,NG,-,0,-,-,-,5,-,-,-,0.5,-,0.50
20745,301,5,2,NG,-,0,-,-,-,5,-,-,-,0.35,-,0.35
20518,301,5,3,NG,-,0,-,-,-,5,-,-,-,0.73,-,0.73
12021,301,5,4,NG,-,0,-,-,-,5,-,-,-,0.29,-,0.29
11980,301,5,5,NG,-,0,-,-,-,5,-,-,-,3.25,-,3.25
11549,301,5,6,NG,-,0,-,-,-,5,-,-,-,1.02,-,1.02
9828,301,8,1,NG,-,0,-,-,-,8,-,-,-,-,2.69,2.69
9241,301,8,2,NG,-,0,-,-,-,8,-,-,-,-,2.65,2.65
8770,301,8,3,NG,-,0,-,-,-,8,-,-,-,-,4.92,4.92
6857,301,8,4,NG,-,0,-,-,-,8,-,-,-,-,0.71,0.71
6765,301,8,5,NG,-,0,-,-,-,8,-,-,-,-,0.43,0.43
6758,301,8,6,NG,-,0,-,-,-,8,-,-,-,-,0.36,0.36
6598,301,8,7,NG,-,0,-,-,-,8,-,-,-,-,0.6,0.60
6520,301,8,8,NG,-,0,-,-,-,8,-,-,-,-,0.12,0.12
Ges.,Ges.,-,-,-,-,-,-,-,-,-,0,96.33,0.68,6.14,17.72,120.87

In [17]:
x.dtypes

Abt        object
UAbt       object
TF         object
WE         object
BKL        object
UZ         object
ES         object
BW         object
SW         object
NG         object
Fl WW      object
Fl SW      object
Fl NHB     object
Fl pNG     object
Fl uNG     object
Fl Ges    float64
dtype: object

In [18]:
x.describe

<bound method NDFrame.describe of         Abt UAbt  TF  WE   BKL   UZ ES BW SW NG Fl WW  Fl SW Fl NHB Fl pNG  \
20545   301    A   1  WO  9070  200  A  S  S  -     -  11.41      -      -
20586   301    A   2  WO  9070  200  A  S  S  -     -   2.13      -      -
20560   301    A   3  WO  9070  200  A  S  S  -     -   0.75      -      -
20561   301    A   3  WO  9070  200  A  S  S  -     -      0      -      -
20563   301    A   3  WO  9070  200  A  S  S  -     -      0      -      -
20565   301    A   3  WO  9070  200  A  S  S  -     -      0      -      -
20497   301    A   4  WO  9070  200  A  S  S  -     -   0.31      -      -
20498   301    A   4  WO  9070  200  A  S  S  -     -      0      -      -
20500   301    A   4  WO  9070  200  A  S  S  -     -      0      -      -
20502   301    A   4  WO  9070  200  A  S  S  -     -      0      -      -
20962   301    B   1  WO  9070  160  I  S  S  -     -  19.44      -      -
20885   301    B   2  WO  9070  160  I  S  S  -     -   6.92      -      -
20855   301    C   1  WO  9070  160  I  S  S  -     -   10.1      -      -
20836   301    C   2  WO  9070  160  I  S  S  -     -   0.37      -      -
20801   301    C   3  WO  9070  160  I  S  S  -     -   1.12      -      -
20777   301    C   4  WO  9070  160  I  S  S  -     -   1.41      -      -
20778   301    C   4  WO  9070  160  I  S  S  -     -      0      -      -
20783   301    C   4  WO  9070  160  I  S  S  -     -      0      -      -
20784   301    C   4  WO  9070  160  I  S  S  -     -      0      -      -
20714   301    D   0  WO  9070  200  A  S  S  -     -  11.63      -      -
20680   301    E   1  WO  9070  160  I  S  S  -     -  18.54      -      -
20644   301    E   2  WO  9070  160  I  S  S  -     -   1.24      -      -
20646   301    E   2  WO  9070  160  I  S  S  -     -      0      -      -
20647   301    E   2  WO  9070  160  I  S  S  -     -      0      -      -
20651   301    E   2  WO  9070  160  I  S  S  -     -      0      -      -
20632   301    E   3  WO  9070  160  I  S  S  -     -    1.3      -      -
20633   301    E   3  WO  9070  160  I  S  S  -     -      0      -      -
20635   301    E   3  WO  9070  160  I  S  S  -     -      0      -      -
20639   301    E   3  WO  9070  160  I  S  S  -     -      0      -      -
20895   301    F   1  WO  9070  160  I  S  S  -     -   2.03      -      -
...     ...  ...  ..  ..   ...  ... .. .. .. ..   ...    ...    ...    ...
3159    301    1   1  NG     -    0  -  -  -  1     -      -      -      -
3155    301    1   2  NG     -    0  -  -  -  1     -      -      -      -
3145    301    1   3  NG     -    0  -  -  -  1     -      -      -      -
3137    301    1   4  NG     -    0  -  -  -  1     -      -      -      -
3131    301    1   5  NG     -    0  -  -  -  1     -      -      -      -
3124    301    1   6  NG     -    0  -  -  -  1     -      -      -      -
3114    301    1   7  NG     -    0  -  -  -  1     -      -      -      -
3104    301    1   8  NG     -    0  -  -  -  1     -      -      -      -
3097    301    1   9  NG     -    0  -  -  -  1     -      -      -      -
21339   301    1  10  NG     -    0  -  -  -  1     -      -      -      -
21276   301    1  11  NG     -    0  -  -  -  1     -      -      -      -
21190   301    3   1  NG     -    0  -  -  -  3     -      -   0.55      -
21182   301    3   2  NG     -    0  -  -  -  3     -      -   0.07      -
21131   301    3   3  NG     -    0  -  -  -  3     -      -   0.02      -
20854   301    4   1  NG     -    0  -  -  -  4     -      -   0.04      -
20758   301    5   1  NG     -    0  -  -  -  5     -      -      -    0.5
20745   301    5   2  NG     -    0  -  -  -  5     -      -      -   0.35
20518   301    5   3  NG     -    0  -  -  -  5     -      -      -   0.73
12021   301    5   4  NG     -    0  -  -  -  5     -      -      -   0.29
11980   301    5   5  NG     -    0  -  -  -  5     -      -      -   3.25
11549   301    5   6  NG     -    0  -  -  -  5     -      -      -   1.02
9828    301    8   1  NG     -    0  -  -  -  8     -      -      -      -
9241    301    8   2  NG     -    0  -  -  -  8     -      -      -      -
8770    301    8   3  NG     -    0  -  -  -  8     -      -      -      -
6857    301    8   4  NG     -    0  -  -  -  8     -      -      -      -
6765    301    8   5  NG     -    0  -  -  -  8     -      -      -      -
6758    301    8   6  NG     -    0  -  -  -  8     -      -      -      -
6598    301    8   7  NG     -    0  -  -  -  8     -      -      -      -
6520    301    8   8  NG     -    0  -  -  -  8     -      -      -      -
Ges.   Ges.    -   -   -     -    -  -  -  -  -     0  96.33   0.68   6.14

      Fl uNG  Fl Ges
20545      -   11.41
20586      -    2.13
20560      -    0.75
20561      -    0.00
20563      -    0.00
20565      -    0.00
20497      -    0.31
20498      -    0.00
20500      -    0.00
20502      -    0.00
20962      -   19.44
20885      -    6.92
20855      -   10.10
20836      -    0.37
20801      -    1.12
20777      -    1.41
20778      -    0.00
20783      -    0.00
20784      -    0.00
20714      -   11.63
20680      -   18.54
20644      -    1.24
20646      -    0.00
20647      -    0.00
20651      -    0.00
20632      -    1.30
20633      -    0.00
20635      -    0.00
20639      -    0.00
20895      -    2.03
...      ...     ...
3159    0.86    0.86
3155     0.1    0.10
3145    0.36    0.36
3137    0.72    0.72
3131    0.31    0.31
3124    0.54    0.54
3114     0.2    0.20
3104    0.59    0.59
3097    0.25    0.25
21339   1.13    1.13
21276   0.18    0.18
21190      -    0.55
21182      -    0.07
21131      -    0.02
20854      -    0.04
20758      -    0.50
20745      -    0.35
20518      -    0.73
12021      -    0.29
11980      -    3.25
11549      -    1.02
9828    2.69    2.69
9241    2.65    2.65
8770    4.92    4.92
6857    0.71    0.71
6765    0.43    0.43
6758    0.36    0.36
6598     0.6    0.60
6520    0.12    0.12
Ges.   17.72  120.87

[66 rows x 16 columns]>

In [19]:
x = x.astype(str)

In [20]:
x

,Abt,UAbt,Tfl,WE Typ,BKL,UZ,EtrS,BW Typ,SW Typ,NG Typ,Fläche WW,Fläche SW,Fläche NHB,Fläche pNG,Fläche uNG,Fläche Ges
945,510,A,1.0,WO,9060.0,120.0,I,W,-,-,5.6,-,-,-,-,5.6
874,510,A,2.0,WO,9010.0,120.0,I,W,-,-,4.03,-,-,-,-,4.03
783,510,A,3.0,WO,9010.0,120.0,I,W,-,-,1.53,-,-,-,-,1.53
1175,510,B,1.0,WO,9010.0,120.0,I,W,-,-,8.76,-,-,-,-,8.76
1191,510,B,2.0,WO,9010.0,140.0,I,W,-,-,1.38,-,-,-,-,1.38
1207,510,B,3.0,WO,9010.0,140.0,I,W,-,-,1.44,-,-,-,-,1.44
1242,510,B,4.0,WO,9010.0,140.0,I,W,-,-,1.69,-,-,-,-,1.69
1212,510,C,1.0,WO,9010.0,140.0,I,W,-,-,0.59,-,-,-,-,0.59
1195,510,C,2.0,WO,9010.0,140.0,I,W,-,-,1.2,-,-,-,-,1.2
1181,510,C,3.0,WO,9010.0,140.0,I,W,-,-,3.16,-,-,-,-,3.16
1134,510,C,4.0,WO,9010.0,140.0,I,W,-,-,1.71,-,-,-,-,1.71
1094,510,D,0.0,WO,9010.0,140.0,I,W,-,-,3.08,-,-,-,-,3.08
2113,510,3,1.0,NG,-,0.0,-,-,-,3.0,-,-,2.29,-,-,2.29
2018,510,7,1.0,NG,-,0.0,-,-,-,7.0,-,-,-,-,0.03,0.03
Ges.,510,Ges.,-,-,-,-,-,-,-,-,34.17,0.0,2.29,0.0,0.03,36.49

In [24]:
x['Tfl']

945     1.0
874     2.0
783     3.0
1175    1.0
1191    2.0
1207    3.0
1242    4.0
1212    1.0
1195    2.0
1181    3.0
1134    4.0
1094    0.0
2113    1.0
Name: Tfl, dtype: object

In [20]:
# Flaeche der WO (2.1)
data_wo_fl = data_raw[data_raw['Schichtalter'] == 0]

In [21]:
data_wo_fl.head()

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1361,181,220442,FE 2019,2,01.01.2020,31.12.2029,292,...,ST von zahlreichen Felsbänder und Felsabbrüche...,"örtlich etwas plaikig; teilweise verkrautet,...","BE 3 Teile; einzelne EE, WD, GE; stark unglei...",",teils lückig und weitständig; große Teile seh...",Hauptwechsel zumeist Verbissgrad 4-5; zahlrei...,SWE gelb: Anzahl Schichten: 3 Schichten: +1;...,"> 0,6: +1; älteste Schicht: Alter > 200 Jahre...",100 %: 0; aggregiertet Schichtanteil bis Alte...,3LA 4FI 3ZI,0.0
17,0,NaN,1361,181,220442,FE 2019,2,01.01.2020,31.12.2029,292,...,ST oben flacher und VTYP AL; einige blössige R...,undFelsabbrüchen durchzogen; im flacheren Tei...,"verkrautet, vergrast","BE viel GE, einige EE; zahlreiche schöne Verj...","mit starkem Verbiss, stark ungleichmässig, t...",",teilweise recht gut geschlossen; zahlreiches ...",SWE gelb: Anzahl Schichten: 3 Schichten: +1:...,"> 0,6: +1; älteste Schicht: Alter > 200 Jahre...",4FI 3ZI 3LA,0.0
34,0,NaN,1361,181,220442,FE 2019,2,01.01.2020,31.12.2029,292,...,ST teilweise felsig,BE durch Schneedruckschäden 2015/16 vor allem ...,"gelichtet - zumeist räumdig, im oberen Teil g...",Teilankommende Verjüngung; zahlreiches Tot- u...,SWE grün: Anzahl Schichten: 3 Schichten: +1;...,"> 0,6: +1; älteste Schicht: Alter > 140 u. ...",%: +1; aggregiertet Schichtanteil bis Alter ...,10 %: 0,3ZI 3LA 4FI,0.0
49,0,NaN,1361,181,220442,FE 2019,2,01.01.2020,31.12.2029,292,...,ST teilweise plaikig-rutschend; von Felswänden...,durchzogen,"BE 5 Teile; einzelne EE, einige GE; stark ungl...",Wegbereiter zwei Femellinien und in Wegzwicke...,SWE gelb: Anzahl Schichten: 3 Schichten: +1;...,"> 0,6: +1; älteste Schicht: Alter > 200 Jahre...",100 %: 0; aggregiertet Schichtanteil bis Alte...,u. 10 %: 0,3LA 3ZI 4FI,0.0
66,0,NaN,1361,181,220442,FE 2019,2,01.01.2020,31.12.2029,292,...,"ST örtlich verkrautet, vergrast","BE viel LA, einige GE, EE; stark ungleichaltri...",zahlreiche Blitzbäume,SWE gelb: Anzahl Schichten: 3 Schichten: +1;...,"> 0,6: +1; älteste Schicht: Alter > 200 Jahre...",100 %: 0; aggregiertet Schichtanteil bis Alte...,u. 10 %: 0,NaN,3ZI 3LA 4FI,0.0

In [22]:
data_wo_fl.columns[:100]

Index(['Merkmalausprägung', 'AuswKatTyp', 'Teiloperats-ID', 'Forstbetrieb',
       'Debitor', 'TO-Bezeichnung', 'Status', 'Beg. Laufzeit', 'Ende Laufzeit',
       'Operat-ID', 'vorgeschl. Hiebssatz', 'Verantwortlicher',
       'Erfassungsstatus', 'Migriert?', 'GUID', 'Forstbetrieb.1',
       'Teiloperats-ID.1', 'Forstrevier', 'Abteilung', 'Unterabteil.',
       'Teilfl.', 'Debitor.1', 'Bearbeitungsblock', 'WE-Typ', 'Betriebsklasse',
       'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation',
       'Bewirtschaftungsform', 'Schutzwaldkategorie', 'Fläche in HA',
       'Seehöhe', 'Exposition', 'Neigung', 'Standorteinheit', 'Vegetationstyp',
       'Waldtyp', 'Wuchsgebiet', 'Überh. Laubholz', 'Überh. Nadelhz.',
       'fr. Schälschade', 'Verbissgrad', 'SchutzwaldProjNr', 'Schlussgrad',
       'Stabilität', 'VJ Bedingung', 'VJ Situation', 'Erreichbark. des BZ',
       'Selektiver Verbiss', 'Erfassungsstatus.1', 'Storno', 'Angelegt von',
       'Angelegt am', 'Uhrzeit', 'Geändert von', 'Geändert am', 'Uhrzeit.1',
       'Waldort', 'GUID.1', 'GUID.2', 'Forstbetrieb.2', 'Teiloperats-ID.2',
       'Forstrevier.1', 'Abteilung.1', 'Unterabteil..1', 'Teilfl..1',
       'Best.-Schicht', 'Debitor.2', 'Schichtanteil', 'Schichtalter',
       'S-Best.grad', 'Erfassungsstatus.2', 'Storno.1', 'GUID.3', 'GUID.4',
       'Forstbetrieb.3', 'Teiloperats-ID.3', 'Forstrevier.2', 'Abteilung.2',
       'Unterabteil..2', 'Teilfl..2', 'Best.-Schicht.1', 'Baumart',
       'Debitor.3', 'Baumartenanteil', 'BaumartenBestockgrad', 'Schälgrad',
       'Ertragsklasse', 'Vorrat / ha', 'Laubholzvorrat / ha',
       'Nadelholzvorrat / ha', 'Vorrat am Ort', 'Laubholzvorrat Ort',
       'Nadelholzvorrat Ort', 'GSOLL / HA', 'GIST / HA', 'lauf. Zuwachs / HA',
       'DGZU / HA', 'HDZ', 'LGZ'],
      dtype='object')

In [23]:
data_wo_fl = data_wo_fl[['Forstrevier','Abteilung', 'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse',
       'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation',
       'Bewirtschaftungsform', 'Schutzwaldkategorie', 'Fläche in HA']]

In [24]:
# get Forstreviere 
fr = np.sort(data_wo_fl['Forstrevier'].unique())
print(fr)

[5 6 7]

In [25]:
# get Abteilungen for every Forstrevier
fr_abt = []
for f in fr:
    fr_abt.append(np.sort(data_wo_fl.loc[data_wo_fl['Forstrevier']==f,'Abteilung'].unique()))

In [26]:
fr_abt[0]

array([301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313,
       314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326,
       327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339,
       340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 478,
       479, 480, 481, 482, 483, 484, 485, 486, 487])

In [27]:
def create_table(fr, abt):

    # filter one Abteilung
    table = data_wo_fl.loc[(data_wo_fl['Forstrevier']==fr) & (data_wo_fl['Abteilung']==abt)]
    # sort table by WE-Typ , unterabteil. , Teilfl.
    table = table.sort_values(['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True, False, True, True])
        
    table['fl_ww'] = table.loc[(table['Bewirtschaftungsform']=='W'),'Fläche in HA']
    table['fl_sw'] = table.loc[(table['Bewirtschaftungsform']=='S'),'Fläche in HA']
    table['fl_nhb'] = table.loc[(table['Nebengrund Art']==3) | (table['Nebengrund Art']==4),'Fläche in HA']
    table['fl_ngp'] = table.loc[(table['Nebengrund Art']==5) | (table['Nebengrund Art']==6),'Fläche in HA']
    table['fl_ngu'] = table.loc[(table['Nebengrund Art']<3) | (table['Nebengrund Art']>6),'Fläche in HA']

    sum_fl = {'Abteilung': 'Ges.', \
        'Fläche in HA': table['Fläche in HA'].sum(), 'fl_ww': table['fl_ww'].sum(), \
        'fl_sw': table['fl_sw'].sum(), 'fl_nhb': table['fl_nhb'].sum(), \
        'fl_ngp': table['fl_ngp'].sum(), 'fl_ngu': table['fl_ngu'].sum()}
    
    table = table.fillna('-')
    table[['Abteilung', 'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse', 'Umtriebszeit', 'Nebengrund Art']] = \
    table[['Abteilung', 'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse', 'Umtriebszeit', 'Nebengrund Art']].astype(str)
    
    table['Betriebsklasse'] = table['Betriebsklasse'].str.replace('.0', '', regex=False)
    table['Nebengrund Art'] = table['Nebengrund Art'].str.replace('.0', '', regex=False)

    sum_df = pd.DataFrame(data=sum_fl, index = ["Ges."])
    table = table.append(sum_df, sort=False)
    table.columns = ['FR', 'Abt', 'UAbt', 'Tfl', 'WE Typ', 'BKL', 'UZ', 'NG Typ', 'EtrS', \
    'BW Typ', 'SW Typ', 'Fl Ges', 'Fl WW', 'Fl SW', 'Fl NHB', 'Fl pNG', 'Fl uNG']
    table = table.reindex(columns= ['Abt', 'UAbt', 'Tfl', 'WE Typ', 'BKL', 'UZ', 'EtrS', \
    'BW Typ', 'SW Typ', 'NG Typ', 'Fl WW', 'Fl SW', 'Fl NHB', 'Fl pNG', 'Fl uNG', 'Fl Ges'])

    table = table.round(2)
    
    table = table.fillna('-')
    #table = table.astype(str)

    return table

In [28]:
print(create_table(5, 301))

        Abt UAbt Tfl WE Typ   BKL   UZ EtrS BW Typ SW Typ NG Typ Fl WW  Fl SW  \
20545   301    A   1     WO  9070  200    A      S      S      -     -  11.41
20586   301    A   2     WO  9070  200    A      S      S      -     -   2.13
20560   301    A   3     WO  9070  200    A      S      S      -     -   0.75
20561   301    A   3     WO  9070  200    A      S      S      -     -      0
20563   301    A   3     WO  9070  200    A      S      S      -     -      0
20565   301    A   3     WO  9070  200    A      S      S      -     -      0
20497   301    A   4     WO  9070  200    A      S      S      -     -   0.31
20498   301    A   4     WO  9070  200    A      S      S      -     -      0
20500   301    A   4     WO  9070  200    A      S      S      -     -      0
20502   301    A   4     WO  9070  200    A      S      S      -     -      0
20962   301    B   1     WO  9070  160    I      S      S      -     -  19.44
20885   301    B   2     WO  9070  160    I      S      S      -     -   6.92
20855   301    C   1     WO  9070  160    I      S      S      -     -   10.1
20836   301    C   2     WO  9070  160    I      S      S      -     -   0.37
20801   301    C   3     WO  9070  160    I      S      S      -     -   1.12
20777   301    C   4     WO  9070  160    I      S      S      -     -   1.41
20778   301    C   4     WO  9070  160    I      S      S      -     -      0
20783   301    C   4     WO  9070  160    I      S      S      -     -      0
20784   301    C   4     WO  9070  160    I      S      S      -     -      0
20714   301    D   0     WO  9070  200    A      S      S      -     -  11.63
20680   301    E   1     WO  9070  160    I      S      S      -     -  18.54
20644   301    E   2     WO  9070  160    I      S      S      -     -   1.24
20646   301    E   2     WO  9070  160    I      S      S      -     -      0
20647   301    E   2     WO  9070  160    I      S      S      -     -      0
20651   301    E   2     WO  9070  160    I      S      S      -     -      0
20632   301    E   3     WO  9070  160    I      S      S      -     -    1.3
20633   301    E   3     WO  9070  160    I      S      S      -     -      0
20635   301    E   3     WO  9070  160    I      S      S      -     -      0
20639   301    E   3     WO  9070  160    I      S      S      -     -      0
20895   301    F   1     WO  9070  160    I      S      S      -     -   2.03
...     ...  ...  ..    ...   ...  ...  ...    ...    ...    ...   ...    ...
3159    301    1   1     NG     -    0    -      -      -      1     -      -
3155    301    1   2     NG     -    0    -      -      -      1     -      -
3145    301    1   3     NG     -    0    -      -      -      1     -      -
3137    301    1   4     NG     -    0    -      -      -      1     -      -
3131    301    1   5     NG     -    0    -      -      -      1     -      -
3124    301    1   6     NG     -    0    -      -      -      1     -      -
3114    301    1   7     NG     -    0    -      -      -      1     -      -
3104    301    1   8     NG     -    0    -      -      -      1     -      -
3097    301    1   9     NG     -    0    -      -      -      1     -      -
21339   301    1  10     NG     -    0    -      -      -      1     -      -
21276   301    1  11     NG     -    0    -      -      -      1     -      -
21190   301    3   1     NG     -    0    -      -      -      3     -      -
21182   301    3   2     NG     -    0    -      -      -      3     -      -
21131   301    3   3     NG     -    0    -      -      -      3     -      -
20854   301    4   1     NG     -    0    -      -      -      4     -      -
20758   301    5   1     NG     -    0    -      -      -      5     -      -
20745   301    5   2     NG     -    0    -      -      -      5     -      -
20518   301    5   3     NG     -    0    -      -      -      5     -      -
12021   301    5   4     NG     -    0    -      -      -      5     -      -
11980   301    5   5     NG     -    0    -      -      -      5     -      -
11549   301    5   6     NG     -    0    -      -      -      5     -      -
9828    301    8   1     NG     -    0    -      -      -      8     -      -
9241    301    8   2     NG     -    0    -      -      -      8     -      -
8770    301    8   3     NG     -    0    -      -      -      8     -      -
6857    301    8   4     NG     -    0    -      -      -      8     -      -
6765    301    8   5     NG     -    0    -      -      -      8     -      -
6758    301    8   6     NG     -    0    -      -      -      8     -      -
6598    301    8   7     NG     -    0    -      -      -      8     -      -
6520    301    8   8     NG     -    0    -      -      -      8     -      -
Ges.   Ges.    -   -      -     -    -    -      -      -      -     0  96.33

      Fl NHB Fl pNG Fl uNG  Fl Ges
20545      -      -      -   11.41
20586      -      -      -    2.13
20560      -      -      -    0.75
20561      -      -      -    0.00
20563      -      -      -    0.00
20565      -      -      -    0.00
20497      -      -      -    0.31
20498      -      -      -    0.00
20500      -      -      -    0.00
20502      -      -      -    0.00
20962      -      -      -   19.44
20885      -      -      -    6.92
20855      -      -      -   10.10
20836      -      -      -    0.37
20801      -      -      -    1.12
20777      -      -      -    1.41
20778      -      -      -    0.00
20783      -      -      -    0.00
20784      -      -      -    0.00
20714      -      -      -   11.63
20680      -      -      -   18.54
20644      -      -      -    1.24
20646      -      -      -    0.00
20647      -      -      -    0.00
20651      -      -      -    0.00
20632      -      -      -    1.30
20633      -      -      -    0.00
20635      -      -      -    0.00
20639      -      -      -    0.00
20895      -      -      -    2.03
...      ...    ...    ...     ...
3159       -      -   0.86    0.86
3155       -      -    0.1    0.10
3145       -      -   0.36    0.36
3137       -      -   0.72    0.72
3131       -      -   0.31    0.31
3124       -      -   0.54    0.54
3114       -      -    0.2    0.20
3104       -      -   0.59    0.59
3097       -      -   0.25    0.25
21339      -      -   1.13    1.13
21276      -      -   0.18    0.18
21190   0.55      -      -    0.55
21182   0.07      -      -    0.07
21131   0.02      -      -    0.02
20854   0.04      -      -    0.04
20758      -    0.5      -    0.50
20745      -   0.35      -    0.35
20518      -   0.73      -    0.73
12021      -   0.29      -    0.29
11980      -   3.25      -    3.25
11549      -   1.02      -    1.02
9828       -      -   2.69    2.69
9241       -      -   2.65    2.65
8770       -      -   4.92    4.92
6857       -      -   0.71    0.71
6765       -      -   0.43    0.43
6758       -      -   0.36    0.36
6598       -      -    0.6    0.60
6520       -      -   0.12    0.12
Ges.    0.68   6.14  17.72  120.87

[66 rows x 16 columns]

In [25]:
x = create_table(1, 506)

In [27]:
x['Abt'].astype(str)

804      506.0
994      506.0
959      506.0
955      506.0
928      506.0
906      506.0
885      506.0
859      506.0
843      506.0
963      506.0
933      506.0
909      506.0
882      506.0
849      506.0
830      506.0
718      506.0
714      506.0
710      506.0
4512     506.0
Total      nan
Name: Abt, dtype: object

In [16]:
# filter one Abteilung
x = data_wo_fl.loc[(data_wo_fl['Forstrevier']==1) & (data_wo_fl['Abteilung']==506)]
# sort WE-Typ , unterabteil. , Teilfl.
x = x.sort_values(['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True, False, True, True])

In [17]:
x

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA
804,1,506,A,0,WO,9010.0,140,NaN,I,W,NaN,8.69
994,1,506,B,1,WO,9010.0,140,NaN,I,W,NaN,0.81
959,1,506,B,2,WO,9010.0,140,NaN,I,W,NaN,0.63
955,1,506,C,1,WO,9010.0,140,NaN,I,W,NaN,3.24
928,1,506,C,2,WO,9010.0,140,NaN,I,W,NaN,2.93
906,1,506,D,1,WO,9010.0,140,NaN,I,W,NaN,1.96
885,1,506,D,2,WO,9010.0,140,NaN,I,W,NaN,1.14
859,1,506,D,3,WO,9010.0,140,NaN,I,W,NaN,1.42
843,1,506,D,4,WO,9010.0,140,NaN,I,W,NaN,1.39
963,1,506,E,1,WO,9050.0,160,NaN,I,W,NaN,2.88
933,1,506,E,2,WO,9010.0,140,NaN,I,W,NaN,0.92
909,1,506,F,1,WO,9050.0,160,NaN,I,W,NaN,3.45
882,1,506,F,2,WO,9010.0,140,NaN,I,W,NaN,1.27
849,1,506,G,1,WO,9010.0,140,NaN,I,W,NaN,1.98
830,1,506,G,2,WO,9010.0,140,NaN,I,W,NaN,0.37
718,1,506,3,1,NG,NaN,0,3.0,NaN,NaN,NaN,2.03
714,1,506,5,1,NG,NaN,0,5.0,NaN,NaN,NaN,0.09
710,1,506,9,1,NG,NaN,0,9.0,NaN,NaN,NaN,0.24
4512,1,506,9,2,NG,NaN,0,9.0,NaN,NaN,NaN,0.38

In [17]:
x[x['Nebengrund Art']==3.0]

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA
718,1,506,3,1,NG,NaN,0,3.0,NaN,NaN,NaN,2.03

In [18]:
x[x['Nebengrund Art']==9.0]

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA
710,1,506,9,1,NG,NaN,0,9.0,NaN,NaN,NaN,0.24
4512,1,506,9,2,NG,NaN,0,9.0,NaN,NaN,NaN,0.38

In [19]:
x.loc[(x['Nebengrund Art']==3.0),'Fläche in HA']

718    2.03
Name: Fläche in HA, dtype: float64

In [18]:
x['fl_ww'] = x.loc[(x['Bewirtschaftungsform']=='W'),'Fläche in HA']
x['fl_sw'] = x.loc[(x['Bewirtschaftungsform']=='S'),'Fläche in HA']
x['fl_nh'] = x.loc[(x['Nebengrund Art']==3.0),'Fläche in HA']
x['fl_rest'] = x.loc[(x['Nebengrund Art']==9.0),'Fläche in HA']

In [19]:
x

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA,fl_ww,fl_sw,fl_nh,fl_rest
804,1,506,A,0,WO,9010.0,140,NaN,I,W,NaN,8.69,8.69,NaN,NaN,NaN
994,1,506,B,1,WO,9010.0,140,NaN,I,W,NaN,0.81,0.81,NaN,NaN,NaN
959,1,506,B,2,WO,9010.0,140,NaN,I,W,NaN,0.63,0.63,NaN,NaN,NaN
955,1,506,C,1,WO,9010.0,140,NaN,I,W,NaN,3.24,3.24,NaN,NaN,NaN
928,1,506,C,2,WO,9010.0,140,NaN,I,W,NaN,2.93,2.93,NaN,NaN,NaN
906,1,506,D,1,WO,9010.0,140,NaN,I,W,NaN,1.96,1.96,NaN,NaN,NaN
885,1,506,D,2,WO,9010.0,140,NaN,I,W,NaN,1.14,1.14,NaN,NaN,NaN
859,1,506,D,3,WO,9010.0,140,NaN,I,W,NaN,1.42,1.42,NaN,NaN,NaN
843,1,506,D,4,WO,9010.0,140,NaN,I,W,NaN,1.39,1.39,NaN,NaN,NaN
963,1,506,E,1,WO,9050.0,160,NaN,I,W,NaN,2.88,2.88,NaN,NaN,NaN
933,1,506,E,2,WO,9010.0,140,NaN,I,W,NaN,0.92,0.92,NaN,NaN,NaN
909,1,506,F,1,WO,9050.0,160,NaN,I,W,NaN,3.45,3.45,NaN,NaN,NaN
882,1,506,F,2,WO,9010.0,140,NaN,I,W,NaN,1.27,1.27,NaN,NaN,NaN
849,1,506,G,1,WO,9010.0,140,NaN,I,W,NaN,1.98,1.98,NaN,NaN,NaN
830,1,506,G,2,WO,9010.0,140,NaN,I,W,NaN,0.37,0.37,NaN,NaN,NaN
718,1,506,3,1,NG,NaN,0,3.0,NaN,NaN,NaN,2.03,NaN,NaN,2.03,NaN
714,1,506,5,1,NG,NaN,0,5.0,NaN,NaN,NaN,0.09,NaN,NaN,NaN,NaN
710,1,506,9,1,NG,NaN,0,9.0,NaN,NaN,NaN,0.24,NaN,NaN,NaN,0.24
4512,1,506,9,2,NG,NaN,0,9.0,NaN,NaN,NaN,0.38,NaN,NaN,NaN,0.38

In [23]:
x['fl_ww'].sum()

33.080000000000005

In [30]:
xx = x.copy()

In [26]:
xx.loc['Total'] = pd.Series(xx['fl_ww'].sum(), index = ['fl_ww'])
xx.loc['Total'] = pd.Series(xx['fl_sw'].sum(), index = ['fl_sw'])
xx.loc['Total'] = pd.Series(xx['fl_nh'].sum(), index = ['fl_nh'])
xx.loc['Total'] = pd.Series(xx['fl_rest'].sum(), index = ['fl_rest'])

In [38]:
sum_df = {'fl_ww': xx['fl_ww'].sum(), 'fl_sw': xx['fl_sw'].sum(), 'fl_nh': xx['fl_nh'].sum(), 'fl_rest': xx['fl_rest'].sum()}

In [42]:
sum_df

{'fl_ww': 33.080000000000005, 'fl_sw': 0.0, 'fl_nh': 2.03, 'fl_rest': 0.62}

In [46]:
df = pd.DataFrame(data=sum_df, index = ["Total"])
df

       fl_ww  fl_sw  fl_nh  fl_rest
Total  33.08    0.0   2.03     0.62

In [49]:
xx = xx.append(df)

In [50]:
xx

,Abteilung,Betriebsklasse,Bewirtschaftungsform,Ertragssituation,Fläche in HA,Forstrevier,Nebengrund Art,Schutzwaldkategorie,Teilfl.,Umtriebszeit,Unterabteil.,WE-Typ,fl_nh,fl_rest,fl_sw,fl_ww
710,506.0,NaN,NaN,NaN,0.24,1.0,9.0,NaN,1.0,0.0,9,NG,NaN,0.24,NaN,NaN
714,506.0,NaN,NaN,NaN,0.09,1.0,5.0,NaN,1.0,0.0,5,NG,NaN,NaN,NaN,NaN
718,506.0,NaN,NaN,NaN,2.03,1.0,3.0,NaN,1.0,0.0,3,NG,2.03,NaN,NaN,NaN
804,506.0,9010.0,W,I,8.69,1.0,NaN,NaN,0.0,140.0,A,WO,NaN,NaN,NaN,8.69
830,506.0,9010.0,W,I,0.37,1.0,NaN,NaN,2.0,140.0,G,WO,NaN,NaN,NaN,0.37
843,506.0,9010.0,W,I,1.39,1.0,NaN,NaN,4.0,140.0,D,WO,NaN,NaN,NaN,1.39
849,506.0,9010.0,W,I,1.98,1.0,NaN,NaN,1.0,140.0,G,WO,NaN,NaN,NaN,1.98
859,506.0,9010.0,W,I,1.42,1.0,NaN,NaN,3.0,140.0,D,WO,NaN,NaN,NaN,1.42
882,506.0,9010.0,W,I,1.27,1.0,NaN,NaN,2.0,140.0,F,WO,NaN,NaN,NaN,1.27
885,506.0,9010.0,W,I,1.14,1.0,NaN,NaN,2.0,140.0,D,WO,NaN,NaN,NaN,1.14
906,506.0,9010.0,W,I,1.96,1.0,NaN,NaN,1.0,140.0,D,WO,NaN,NaN,NaN,1.96
909,506.0,9050.0,W,I,3.45,1.0,NaN,NaN,1.0,160.0,F,WO,NaN,NaN,NaN,3.45
928,506.0,9010.0,W,I,2.93,1.0,NaN,NaN,2.0,140.0,C,WO,NaN,NaN,NaN,2.93
933,506.0,9010.0,W,I,0.92,1.0,NaN,NaN,2.0,140.0,E,WO,NaN,NaN,NaN,0.92
955,506.0,9010.0,W,I,3.24,1.0,NaN,NaN,1.0,140.0,C,WO,NaN,NaN,NaN,3.24
959,506.0,9010.0,W,I,0.63,1.0,NaN,NaN,2.0,140.0,B,WO,NaN,NaN,NaN,0.63
963,506.0,9050.0,W,I,2.88,1.0,NaN,NaN,1.0,160.0,E,WO,NaN,NaN,NaN,2.88
994,506.0,9010.0,W,I,0.81,1.0,NaN,NaN,1.0,140.0,B,WO,NaN,NaN,NaN,0.81
4512,506.0,NaN,NaN,NaN,0.38,1.0,9.0,NaN,2.0,0.0,9,NG,NaN,0.38,NaN,NaN
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.03,0.62,0.0,33.08

In [51]:
x = xx.copy()

In [52]:
x = x[['Forstrevier', 'Abteilung', 'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse', 'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation', 'Bewirtschaftungsform', 'Schutzwaldkategorie', 'fl_ww', 'fl_sw', 'fl_nh', 'fl_rest']]
x = x.sort_values(['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True, False, True, True])

In [53]:
x.columns = ['FR', 'Abt', 'Uabt', 'Tfl', 'WE-Typ',
       'BKL', 'UZ', 'NG Typ', 'Et sit',
       'BW Typ', 'SW Typ', 'fl_ww', 'fl_sw',
       'fl_nh', 'fl_rest']

In [54]:
x = x.fillna('-')

In [55]:
# make

In [30]:
from OBFDocX import OBFDocX
from OBFFlaechentabelle import OBFFlaechentabelle
from docx.shared import Pt

# set home directory
#home_path = os.getcwd()[:os.getcwd().find('Code/obf_autop')-1]
# set data_path
temp_path = os.path.join(os.getcwd(), 'data')
temp_path

flt = OBFFlaechentabelle(data_raw)

In [31]:

obf_doc = OBFDocX(Document(temp_path + '/templet_xx.docx'))

version = '0.8'

#######################
###   0 Deckblatt   ###
#######################
print('***   0 Deckblatt   ***')

obf_doc.doc.add_picture(temp_path + '/oebf.png')

for i in range(4):
    obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('Flächentabelle zum OPERAT')
p.bold = True
p.font.name = 'Verdana'
p.font.size = Pt(34)

p = obf_doc.doc.add_paragraph().add_run('FB ') #+ str(obf_fuc.dic.fb) + ' ' + obf_fuc.dic.dic_num_fb[obf_fuc.dic.fb])
p.bold = True
p.font.name = 'Verdana'
p.font.size = Pt(35)

obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('Teiloperat ') #+ str(obf_fuc.dic.to))
p.font.name = 'Verdana'
p.font.size = Pt(25)

for i in range(3):
    obf_doc.doc.add_paragraph('')

for i in ['Pernitz', 'Haselbach', 'Hinterbrühl']:

    p = obf_doc.doc.add_paragraph().add_run(i)
    p.font.name = 'Verdana'
    p.font.size = Pt(20)

#for i in range(12-(obf_fuc.loop_fr()[1:,0].shape[0]*2)):
#    p = obf_doc.doc.add_paragraph().add_run('')
#    p.font.size = Pt(20)

p = obf_doc.doc.add_paragraph().add_run('Organisationsstand 01.01.' + i)
p.font.name = 'Verdana'
p.font.size = Pt(18)

p = obf_doc.doc.add_paragraph().add_run('Laufzeit 01.01. - 31.12.')
p.font.name = 'Verdana'
p.font.size = Pt(18)

#for i in range(10-(obf_fuc.loop_fr()[1:,0].shape[0]*2)):
#    obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('Für die Unternehmensleitung                       Für der Forstbetrieb')
p.font.name = 'Verdana'
p.font.size = Pt(12)

obf_doc.doc.add_page_break()

#############################
###   1 Abkürzungsverzeichnis   ###
#############################

for i in range(3):
    obf_doc.doc.add_paragraph('')

run = obf_doc.doc.add_paragraph('Erstellung vom Teiloperat mit AutOP ').add_run(' Version ' + version)
font = run.font
font.name = 'Verdana'
font.size = Pt(8)
obf_doc.doc.add_paragraph('')
obf_doc.doc.add_paragraph('')

print('***   1 Abkürzungsverzeichnis   ***')
obf_doc.doc.add_heading('Abkürzungsverzeichnis', 1)

obf_doc.doc.add_paragraph('')
obf_doc.doc.add_paragraph('Die folgenden Abkürzungen werden in den Tabellen verwendet um die Lesbarkeit und Übersicht der Tabellen zu gewähleisten')
obf_doc.doc.add_paragraph('')

obf_doc.doc.add_heading('Spaltenüberschriften', 2)

obf_doc.doc.add_paragraph('')
obf_doc.doc.add_paragraph('Alle nachfolgenden Tabellen verwenden diese Abkürzungen in den Spaltenüberschriften')
obf_doc.doc.add_paragraph('')
obf_doc.doc.add_paragraph('Abt		...	Abteilung')
obf_doc.doc.add_paragraph('UAbt		...	Unterabteilung')
obf_doc.doc.add_paragraph('Tfl		...	Teilfläche')
obf_doc.doc.add_paragraph('WE		...	Abteilung')
obf_doc.doc.add_paragraph('BKL		...	Betriebsklasse')
obf_doc.doc.add_paragraph('UZ		...	Umtriebszeit')
obf_doc.doc.add_paragraph('ES		...	Ertragssituation')
obf_doc.doc.add_paragraph('BW		...	Bewirtschaftungsform')
obf_doc.doc.add_paragraph('SW		...	Schutzwaldkategorie')
obf_doc.doc.add_paragraph('NG		...	Nebengrund Art')
obf_doc.doc.add_paragraph('Fl WW		...	Wirtschaftswaldfläche')
obf_doc.doc.add_paragraph('Fl SW		...	Schutzwaldfläche')
obf_doc.doc.add_paragraph('Fl NHB		...	Nichtholzbodenfläche')
obf_doc.doc.add_paragraph('Fl pNG		...	produktiver Nebengrund')
obf_doc.doc.add_paragraph('Fl uNG		...	unproduktiver Nebengrund')
obf_doc.doc.add_paragraph('Fl Ges		...	Gesamtfläche')
obf_doc.doc.add_paragraph('')

obf_doc.doc.add_page_break()

obf_doc.doc.add_heading('Abkürzungen von Werten', 2)

obf_doc.doc.add_paragraph('')
obf_doc.doc.add_paragraph('Alle nachfolgenden Tabellen verwenden diese Abkürzungen von Werten innerhalb der Tabellen')
obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('WE Typ')
p.font.bold = True
obf_doc.doc.add_paragraph('')
obf_doc.doc.add_paragraph('WO	...	Waldort')
obf_doc.doc.add_paragraph('NG	...	Nebengrund')
obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('Ertragssituation')
p.font.bold = True
obf_doc.doc.add_paragraph('')
obf_doc.doc.add_paragraph('I	...	in Ertrag')
obf_doc.doc.add_paragraph('A	...	außer Ertrag')
obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('Bewirtschaftungsform')
p.font.bold = True
obf_doc.doc.add_paragraph('')
obf_doc.doc.add_paragraph('W	...	Wirtschaftswald')
obf_doc.doc.add_paragraph('S	...	Schutzwald')
obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('Schutzwaldkategorie')
p.font.bold = True
obf_doc.doc.add_paragraph('')
obf_doc.doc.add_paragraph('S	...	Standortsschutzwald')
obf_doc.doc.add_paragraph('O	...	Objektschutzwald')
obf_doc.doc.add_paragraph('B	...	Bannwald')
obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('Nebengrund Art')
p.font.bold = True
obf_doc.doc.add_paragraph('')
obf_doc.doc.add_paragraph('1	...	Standortsschutzwald')
obf_doc.doc.add_paragraph('2	...	Bergkiefer (Latschen)')
obf_doc.doc.add_paragraph('3	...	Straße (Forststraßen, Schlepperwege')
obf_doc.doc.add_paragraph('4	...	')
obf_doc.doc.add_paragraph('5	...	Wiese')
obf_doc.doc.add_paragraph('6	...	Acker')
obf_doc.doc.add_paragraph('7	...	Gewässer (Bäche, Flüsse, Teiche, Seen)')
obf_doc.doc.add_paragraph('8	...	Felsen, Geröll')
obf_doc.doc.add_paragraph('9	...	')
obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('Flächen')
p.font.bold = True
obf_doc.doc.add_paragraph('')
obf_doc.doc.add_paragraph('Wirtschaftswaldfläche	...	Wirtschaftswald')
obf_doc.doc.add_paragraph('Schutzwaldfläche		...	Schutzwald')
obf_doc.doc.add_paragraph('Nichtholzbodenfläche		...	Nebengrund Art 3 & 4')
obf_doc.doc.add_paragraph('produktiver Nebengrund	...	Nebengrund Art 5 & 6')
obf_doc.doc.add_paragraph('produktiver Nebengrund	...	Nebengrund Art 1 & 2 & 7 & 8 & 9')
obf_doc.doc.add_paragraph('Gesamtfläche			...	alle Flächen summiert')
obf_doc.doc.add_paragraph('')


obf_doc.doc.add_page_break()

#############################
###   2 Flächentabellen   ###
#############################

print('***   2 Flächentabellen   ***')
obf_doc.doc.add_heading('Flächentabellen', 1)
obf_doc.doc.add_paragraph('')

obf_doc.doc.add_heading('FR Kierling', 2)
obf_doc.doc.add_paragraph('')

fr = 1
for abt in flt.fr_abt[fr-1][0:5]:
    print(abt)
    table = flt.create_table(fr, abt)
    width = [2,2,2,2,2,3,2,2,2,2,2,2,2,2,2,2,2]
    obf_doc.docx_table_text(table, width, header_rep = True, header = 'Abteilung - '+ str(abt), font_size = 7, autofit = True)
    obf_doc.doc.add_paragraph('')
    obf_doc.doc.add_paragraph('')
    
# save the doc
path_save = os.path.join(temp_path, 'flaechentabelle.docx')
obf_doc.doc.save(path_save)

print('end')
print('successfully made')

***   0 Deckblatt   ***
***   1 Abkürzungsverzeichnis   ***
***   2 Flächentabellen   ***
301
302
303
304
305
end
successfully made

In [39]:
x.shape

(19, 16)

In [43]:
x = x[['Forstrevier', 'Abteilung', 'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse', 'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation', 'Bewirtschaftungsform', 'Schutzwaldkategorie', 'fl_ww', 'fl_sw', 'fl_nh', 'fl_rest']]

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,fl_ww,fl_sw,fl_nh,fl_rest
804,1,506,A,0,WO,9010.0,140,NaN,I,W,NaN,8.69,NaN,NaN,NaN
994,1,506,B,1,WO,9010.0,140,NaN,I,W,NaN,0.81,NaN,NaN,NaN
959,1,506,B,2,WO,9010.0,140,NaN,I,W,NaN,0.63,NaN,NaN,NaN
955,1,506,C,1,WO,9010.0,140,NaN,I,W,NaN,3.24,NaN,NaN,NaN
928,1,506,C,2,WO,9010.0,140,NaN,I,W,NaN,2.93,NaN,NaN,NaN
906,1,506,D,1,WO,9010.0,140,NaN,I,W,NaN,1.96,NaN,NaN,NaN
885,1,506,D,2,WO,9010.0,140,NaN,I,W,NaN,1.14,NaN,NaN,NaN
859,1,506,D,3,WO,9010.0,140,NaN,I,W,NaN,1.42,NaN,NaN,NaN
843,1,506,D,4,WO,9010.0,140,NaN,I,W,NaN,1.39,NaN,NaN,NaN
963,1,506,E,1,WO,9050.0,160,NaN,I,W,NaN,2.88,NaN,NaN,NaN
933,1,506,E,2,WO,9010.0,140,NaN,I,W,NaN,0.92,NaN,NaN,NaN
909,1,506,F,1,WO,9050.0,160,NaN,I,W,NaN,3.45,NaN,NaN,NaN
882,1,506,F,2,WO,9010.0,140,NaN,I,W,NaN,1.27,NaN,NaN,NaN
849,1,506,G,1,WO,9010.0,140,NaN,I,W,NaN,1.98,NaN,NaN,NaN
830,1,506,G,2,WO,9010.0,140,NaN,I,W,NaN,0.37,NaN,NaN,NaN
718,1,506,3,1,NG,NaN,0,3.0,NaN,NaN,NaN,NaN,NaN,2.03,NaN
714,1,506,5,1,NG,NaN,0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,1,506,9,1,NG,NaN,0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,0.24
4512,1,506,9,2,NG,NaN,0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,0.38

In [ ]:
def run():
    '''
        run program
    '''
    
    obf_doc = OBFDocX(Document(temp_path + '/templet_xx.docx'))

    version = '3.8'
    
    print('***   0 Deckblatt   ***')

    obf_doc.doc.add_picture(temp_path + '/oebf.png')

    for i in range(4):
        obf_doc.doc.add_paragraph('')

    p = obf_doc.doc.add_paragraph().add_run('OPERAT')
    p.bold = True
    p.font.name = 'Verdana'
    p.font.size = Pt(34)

    p = obf_doc.doc.add_paragraph().add_run('FB ') #+ str(obf_fuc.dic.fb) + ' ' + obf_fuc.dic.dic_num_fb[obf_fuc.dic.fb])
    p.bold = True
    p.font.name = 'Verdana'
    p.font.size = Pt(35)

    obf_doc.doc.add_paragraph('')

    p = obf_doc.doc.add_paragraph().add_run('Teiloperat ') #+ str(obf_fuc.dic.to))
    p.font.name = 'Verdana'
    p.font.size = Pt(25)

    for i in range(3):
        obf_doc.doc.add_paragraph('')

    for i in obf_fuc.loop_fr()[1:]:

        p = obf_doc.doc.add_paragraph().add_run(obf_fuc.name_code(i)[1])
        p.font.name = 'Verdana'
        p.font.size = Pt(20)

    for i in range(12-(obf_fuc.loop_fr()[1:,0].shape[0]*2)):
        p = obf_doc.doc.add_paragraph().add_run('')
        p.font.size = Pt(20)

    p = obf_doc.doc.add_paragraph().add_run('Organisationsstand 01.01.' + obf_fuc.dic.laufzeit_begin)
    p.font.name = 'Verdana'
    p.font.size = Pt(18)

    p = obf_doc.doc.add_paragraph().add_run('Laufzeit 01.01.' + obf_fuc.dic.laufzeit_begin + ' - 31.12.' + obf_fuc.dic.laufzeit_end)
    p.font.name = 'Verdana'
    p.font.size = Pt(18)

    for i in range(10-(obf_fuc.loop_fr()[1:,0].shape[0]*2)):
        obf_doc.doc.add_paragraph('')

    p = obf_doc.doc.add_paragraph().add_run('Für die Unternehmensleitung                       Für der Forstbetrieb')
    p.font.name = 'Verdana'
    p.font.size = Pt(12)

    obf_doc.doc.add_page_break()

    for i in range(3):
        obf_doc.doc.add_paragraph('')

    run = obf_doc.doc.add_paragraph('Erstellung vom Teiloperat mit AutOP ').add_run(' Version ' + version)
    font = run.font
    font.name = 'Verdana'
    font.size = Pt(8)
    
    # save the doc
    path_save = os.path.join(self.data_path, 'flaechentabelle_' + str(obf_fuc.dic.to) + '.docx')
    obf_doc.doc.save(path_save)

    print('end')
    return('successfully made')

In [7]:
data_path

'/Users/philipp/Data/obf_autop'

In [10]:
flur_path = data_path + '/flurnamen/Flurnamen_2018.xlsx'
flur = pd.read_excel(flur_path)

In [20]:
flur

       FB  FR  ABT                Flurname
0     171   1  506  Vorderer Sachsengraben
1     171   1  507  Hinterer Sachsengraben
2     171   1  508  Hinterer Sachsengraben
3     171   1  509           Meidlingsteig
4     171   1  510              Ziegelmais
5     171   1  511               Sauwinkel
6     171   1  512               Sauwinkel
7     171   1  513              Ziegelmais
8     171   1  514           Meidlingsteig
9     171   1  515    Hinterer Sachsgraben
10    171   1  516    Hinterer Sachsgraben
11    171   1  517    Vorderer Sachsgraben
12    171   1  518               Rotgraben
13    171   1  519               Rotgraben
14    171   1  520               Sauleiten
15    171   1  521            Gsaengerwald
16    171   1  522            Gsaengerwald
17    171   1  523                 Obereck
18    171   1  524                 Obereck
19    171   1  533                 Heuberg
20    171   1  534                 Heuberg
21    171   1  535                 Heuberg
22    171   1  536                 Heuberg
23    171   1  537     Goettweiher Heuberg
24    171   1  538     Goettweiher Heuberg
25    171   1  595             Reiter Mais
26    171   1  596         Zaunbogenhuette
27    171   1  597         Zaunbogenhuette
28    171   1  598               Rauchbach
29    171   1  599         Zaunbogenhuette
...   ...  ..  ...                     ...
2168  180  10  420          Kirchentalwald
2169  180  10  421          Dürrschuttwald
2170  180  10  422              Kleberwald
2171  180  10  423      Wildenbachhofsache
2172  180  10  424      Wildenbachhofsache
2173  180  10  425              Struppberg
2174  180  10  426               Hundsfuss
2175  180  10  427      Wildenbachhofsache
2176  180  10  428          Kleberhofsache
2177  180  10  429        Dürnberghofsache
2178  180  10  430        Dürnberghofsache
2179  180  10  431        Dürnberghofsache
2180  180  10  432           Römerbannwald
2181  180  10  433           Römerbannwald
2182  180  10  434        Schiederhofsache
2183  180  10  435        Schiederhofsache
2184  180  10  436        Schiederhofsache
2185  180  10  437        Schiederhofsache
2186  180  10  438        Schiederhofsache
2187  180  10  439        Schiederhofsache
2188  180  10  440      Heitzmannshofsache
2189  180  10  441              Mühlleiten
2190  180  10  442              Schornwald
2191  180  10  443                Diesbach
2192  180  10  444            Brentnerwald
2193  180  10  445              Fockenwald
2194  180  10  446            Sellauerwald
2195  180  10  447           Gasteigerwald
2196  180  10  448       Hallensteinerwald
2197  180  10  449            Brentnermahd

[2198 rows x 4 columns]

In [31]:
flur.loc[(flur['FB']==171) & (flur['FR']==1) & (flur['ABT']==506), 'Flurname']

0    Vorderer Sachsengraben
Name: Flurname, dtype: object

In [32]:
flur.iloc[0,3]

'Vorderer Sachsengraben'

In [42]:
flur.loc[(flur['FB']==171) & (flur['FR']==1) & (flur['ABT']==506)].values[0,3]

'Vorderer Sachsengraben'