In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import docx

from docx import Document
from docx.oxml import OxmlElement
from docx.oxml.ns import qn
from docx.shared import Cm
from docx.shared import Pt

from docx.enum.section import WD_ORIENT
from docx.enum.section import WD_SECTION

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/obf_autop')-1]
# set data_path
data_path = os.path.join(home_path, 'Data', 'obf_autop', 'TO1356', 'to_1356_sap.XLS')

In [3]:
data_path

'/Users/philipp/Data/obf_autop/TO1356/to_1356_sap.XLS'

In [4]:
data_raw = pd.read_csv(data_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

/Users/philipp/Python/anaconda3/envs/docx/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (147,148,149) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# Flaeche der WO (2.1)
data_wo_fl = data_raw[data_raw['Schichtalter'] == 0]

In [6]:
data_wo_fl

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
5,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
7,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
8,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
9,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
10,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
12,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
13,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
14,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
15,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
16,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
17,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
18,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
19,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
20,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
21,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
22,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
23,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
24,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
25,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
26,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
27,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
28,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
29,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34051,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,BE ungleichaltrig -5/+10 Jahre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2SL 2TA 6BU,0.0
34060,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,"BE ungleichaltrig +/- 5 Jahre, zahlreich KI ER",MA Monosäulenreste einsammeln,NaN,NaN,NaN,NaN,NaN,NaN,2SL 8BU,0.0
34073,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,ST STOE 88-96,"BE ungleichaltrig +/- 5 Jahre, einzelne Elsb...",NaN,NaN,NaN,NaN,NaN,NaN,5BU 5LA,0.0
34083,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,"MA als Windmantel für ""296 B1"" belassen",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1SL 9BU,0.0
34087,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,"BE ungleichaltrig jüngerer Teil im Osten, me...","teils unterdrückt, geringe Qualität der BU",MA aufwendige Bringung,NaN,NaN,NaN,NaN,NaN,2SL 8BU,0.0
34101,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,"BE stark verkrautet, Straßenbeleuchtung",NaN,NaN,NaN,NaN,NaN,NaN,NaN,4SL 5BU 1TA,0.0
34113,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,ST STOE 88-89-96,"BE einzelne KB ER Pappeln, 2003-2004 durchfo...","100Efm, tolle TA-Naturverjüngung, plenterarti...",MA Siedlungsgebiet - Wegesicherung,NaN,NaN,NaN,NaN,2SL 7BU 1TA,0.0
34127,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,BE zahlreich Nussbäume aus Kultur 1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5SL 5BU,0.0
34133,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,ST STOE 88-96,"BE einzelne ES UL KB ER, Linden geringe Qual...",NaN,NaN,NaN,NaN,NaN,NaN,3SL 7BU,0.0
34146,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,ST 2 Teile,"BE einzelne KB, rotfaul",NaN,NaN,NaN,NaN,NaN,NaN,5LA 5BU,0.0
34151,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,"BE ehemaliger Zaunfläche, einige EI-Überhälter",NaN,NaN,NaN,NaN,NaN,NaN,NaN,3HB 7EI,0.0
34157,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,"BE ungleichaltrig+/- 5 Jahre, einzelne WB SP...","derLA, gesetzte Bäume teils umgeknickt, Hopfen",NaN,NaN,NaN,NaN,NaN,NaN,1BU 6LA 3TA,0.0
34166,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,"BE schlechte Qualität der BU, BU-TA-FI-Natur...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5BU 5LA,0.0
34179,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,ST Grabeneinhang,"BE FI rotfaul im NordOsten, in der Mitte feu...","einzelne EI, im Süden Wiesenrandbäume - älter",NaN,NaN,NaN,NaN,NaN,5BU 5LA,0.0
34188,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,BE im SüdWesten licht mit BU-BI-KI-Naturverj...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1TA 5BU 4LA,0.0
34195,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,ST STOE 76-86,"BE ungleichaltrig, einzelne EI, im NordWeste...","ältere KI, 2000 außerplanmäßige Räumung im No...","indeinrisse, tolle 2. Schicht",NaN,NaN,NaN,NaN,3LA 2TA 5BU,0.0
34210,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,ST 3 Teile,BE starke TA,NaN,NaN,NaN,NaN,NaN,NaN,3LA 2TA 5BU,0.0
34219,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,ST 2 Teile,BE ungleichaltrig teils 5 Jahre jünger,NaN,NaN,NaN,NaN,NaN,NaN,3LA 2TA 5BU,0.0
34227,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,BE WindWurf-Fläche nach RM im NordNordOsten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7LA 3BU,0.0
34232,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,ST STOE 86-88,"BE zahlreich ER, im SüdWesten Nassgalle mit ...",NaN,NaN,NaN,NaN,NaN,NaN,4LA 5BU 1TA,0.0
34247,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,"BE ehemalige WindWurf-Fläche, Hopfen",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5BU 5LA,0.0
34253,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5BU 5LA,0.0
34259,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,"BE ungleichaltrig - in der Mitte jünger, Süd...",Westen sehr dicht,MA FI teils erntereif,NaN,NaN,NaN,NaN,NaN,1TA 5BU 4LA,0.0
34271,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,ST STOE 76-86,"BE einzelne BI TA, EI oft mikrig und eingewa...",NaN,NaN,NaN,NaN,NaN,NaN,5BU 5LA,0.0
34286,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,BE 1988 genutzte Fläche mit Naturverjüngung ...,"FI-Kultur im NordWesten, BI zurückgeschnitten",NaN,NaN,NaN,NaN,NaN,NaN,3LA 2BU 5FI,0.0
34293,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,"BE Überhälter im SüdOsten, einzelne BI",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1TA 5BU 4LA,0.0
34301,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,ST STOE 76-86,BE NH eingezwickt,NaN,NaN,NaN,NaN,NaN,NaN,5FI 2BU 3LA,0.0
34312,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,BE NH stark bedrängt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2SL 8BU,0.0
34323,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,ST ehemaliger Steinbruch,"BE verwildert mit Waldrebe, Lücken, Tot- und...",Schicht,NaN,NaN,NaN,NaN,NaN,5LA 5BU,0.0
34331,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,"ST ehemaliger Steinbruch, Sendemast","BE Totholz, KI im Süden an der Grenze sehr d...",MA Naturwaldzelle,NaN,NaN,NaN,NaN,NaN,4BU 4EI 2SL,0.0

In [7]:
data_wo_fl.columns[:100]

Index(['Merkmalausprägung', 'AuswKatTyp', 'Teiloperats-ID', 'Forstbetrieb',
       'Debitor', 'TO-Bezeichnung', 'Status', 'Beg. Laufzeit', 'Ende Laufzeit',
       'Operat-ID', 'vorgeschl. Hiebssatz', 'Verantwortlicher',
       'Erfassungsstatus', 'Migriert?', 'GUID', 'Forstbetrieb.1',
       'Teiloperats-ID.1', 'Forstrevier', 'Abteilung', 'Unterabteil.',
       'Teilfl.', 'Debitor.1', 'Bearbeitungsblock', 'WE-Typ', 'Betriebsklasse',
       'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation',
       'Bewirtschaftungsform', 'Schutzwaldkategorie', 'Fläche in HA',
       'Seehöhe', 'Exposition', 'Neigung', 'Standorteinheit', 'Vegetationstyp',
       'Waldtyp', 'Wuchsgebiet', 'Überh. Laubholz', 'Überh. Nadelhz.',
       'fr. Schälschade', 'Verbissgrad', 'SchutzwaldProjNr', 'Schlussgrad',
       'Stabilität', 'VJ Bedingung', 'VJ Situation', 'Erreichbark. des BZ',
       'Selektiver Verbiss', 'Erfassungsstatus.1', 'Storno', 'Angelegt von',
       'Angelegt am', 'Uhrzeit', 'Geändert von', 'Geändert am', 'Uhrzeit.1',
       'Waldort', 'GUID.1', 'GUID.2', 'Forstbetrieb.2', 'Teiloperats-ID.2',
       'Forstrevier.1', 'Abteilung.1', 'Unterabteil..1', 'Teilfl..1',
       'Best.-Schicht', 'Debitor.2', 'Schichtanteil', 'Schichtalter',
       'S-Best.grad', 'Erfassungsstatus.2', 'Storno.1', 'GUID.3', 'GUID.4',
       'Forstbetrieb.3', 'Teiloperats-ID.3', 'Forstrevier.2', 'Abteilung.2',
       'Unterabteil..2', 'Teilfl..2', 'Best.-Schicht.1', 'Baumart',
       'Debitor.3', 'Baumartenanteil', 'BaumartenBestockgrad', 'Schälgrad',
       'Ertragsklasse', 'Vorrat / ha', 'Laubholzvorrat / ha',
       'Nadelholzvorrat / ha', 'Vorrat am Ort', 'Laubholzvorrat Ort',
       'Nadelholzvorrat Ort', 'GSOLL / HA', 'GIST / HA', 'lauf. Zuwachs / HA',
       'DGZU / HA', 'HDZ', 'LGZ'],
      dtype='object')

In [8]:
data_wo_fl = data_wo_fl[['Forstrevier','Abteilung', 'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse',
       'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation',
       'Bewirtschaftungsform', 'Schutzwaldkategorie', 'Fläche in HA']]

In [9]:
fr = np.sort(data_wo_fl['Forstrevier'].unique())

In [10]:
data_wo_fl.loc[data_wo_fl['Forstrevier']==1,'Abteilung']

702      599
703      659
704      719
705      519
706      599
707      659
708      519
709      719
710      506
711      598
712      519
713      659
714      506
715      719
716      597
717      519
718      506
719      658
720      718
721      596
722      518
723      657
724      518
725      595
726      717
727      657
728      518
729      538
730      717
731      518
        ...
17774    515
17793    658
17809    597
17828    515
17848    523
17854    653
17857    515
17863    523
17869    597
17874    515
17882    653
17889    523
17895    658
17977    515
17981    704
17989    597
17996    715
18027    523
18034    515
18102    726
18203    515
18212    597
18217    653
18230    523
18236    515
18237    515
18238    515
18239    515
18240    657
18251    740
Name: Abteilung, Length: 1156, dtype: int64

In [11]:
fr_abt = []
for f in fr:
    fr_abt.append(np.sort(data_wo_fl.loc[data_wo_fl['Forstrevier']==f,'Abteilung'].unique()))

In [12]:
fr_abt[0]

array([506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518,
       519, 520, 521, 522, 523, 524, 533, 534, 535, 536, 537, 538, 595,
       596, 597, 598, 599, 648, 649, 650, 651, 652, 653, 654, 655, 656,
       657, 658, 659, 664, 700, 701, 702, 703, 704, 705, 706, 707, 708,
       709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721,
       722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734,
       735, 736, 737, 738, 739, 740])

In [13]:
x = data_wo_fl.loc[(data_wo_fl['Forstrevier']==1) & (data_wo_fl['Abteilung']==506)]

In [14]:
x

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA
710,1,506,9,1,NG,NaN,0,9.0,NaN,NaN,NaN,0.24
714,1,506,5,1,NG,NaN,0,5.0,NaN,NaN,NaN,0.09
718,1,506,3,1,NG,NaN,0,3.0,NaN,NaN,NaN,2.03
804,1,506,A,0,WO,9010.0,140,NaN,I,W,NaN,8.69
830,1,506,G,2,WO,9010.0,140,NaN,I,W,NaN,0.37
843,1,506,D,4,WO,9010.0,140,NaN,I,W,NaN,1.39
849,1,506,G,1,WO,9010.0,140,NaN,I,W,NaN,1.98
859,1,506,D,3,WO,9010.0,140,NaN,I,W,NaN,1.42
882,1,506,F,2,WO,9010.0,140,NaN,I,W,NaN,1.27
885,1,506,D,2,WO,9010.0,140,NaN,I,W,NaN,1.14
906,1,506,D,1,WO,9010.0,140,NaN,I,W,NaN,1.96
909,1,506,F,1,WO,9050.0,160,NaN,I,W,NaN,3.45
928,1,506,C,2,WO,9010.0,140,NaN,I,W,NaN,2.93
933,1,506,E,2,WO,9010.0,140,NaN,I,W,NaN,0.92
955,1,506,C,1,WO,9010.0,140,NaN,I,W,NaN,3.24
959,1,506,B,2,WO,9010.0,140,NaN,I,W,NaN,0.63
963,1,506,E,1,WO,9050.0,160,NaN,I,W,NaN,2.88
994,1,506,B,1,WO,9010.0,140,NaN,I,W,NaN,0.81
4512,1,506,9,2,NG,NaN,0,9.0,NaN,NaN,NaN,0.38

In [15]:
# sort WE-Typ , unterabteil. , Teilfl.

In [16]:
x.sort_values(['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True, False, True, True])

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA
804,1,506,A,0,WO,9010.0,140,NaN,I,W,NaN,8.69
994,1,506,B,1,WO,9010.0,140,NaN,I,W,NaN,0.81
959,1,506,B,2,WO,9010.0,140,NaN,I,W,NaN,0.63
955,1,506,C,1,WO,9010.0,140,NaN,I,W,NaN,3.24
928,1,506,C,2,WO,9010.0,140,NaN,I,W,NaN,2.93
906,1,506,D,1,WO,9010.0,140,NaN,I,W,NaN,1.96
885,1,506,D,2,WO,9010.0,140,NaN,I,W,NaN,1.14
859,1,506,D,3,WO,9010.0,140,NaN,I,W,NaN,1.42
843,1,506,D,4,WO,9010.0,140,NaN,I,W,NaN,1.39
963,1,506,E,1,WO,9050.0,160,NaN,I,W,NaN,2.88
933,1,506,E,2,WO,9010.0,140,NaN,I,W,NaN,0.92
909,1,506,F,1,WO,9050.0,160,NaN,I,W,NaN,3.45
882,1,506,F,2,WO,9010.0,140,NaN,I,W,NaN,1.27
849,1,506,G,1,WO,9010.0,140,NaN,I,W,NaN,1.98
830,1,506,G,2,WO,9010.0,140,NaN,I,W,NaN,0.37
718,1,506,3,1,NG,NaN,0,3.0,NaN,NaN,NaN,2.03
714,1,506,5,1,NG,NaN,0,5.0,NaN,NaN,NaN,0.09
710,1,506,9,1,NG,NaN,0,9.0,NaN,NaN,NaN,0.24
4512,1,506,9,2,NG,NaN,0,9.0,NaN,NaN,NaN,0.38

In [17]:
x[x['Nebengrund Art']==3.0]

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA
718,1,506,3,1,NG,NaN,0,3.0,NaN,NaN,NaN,2.03

In [18]:
x[x['Nebengrund Art']==9.0]

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA
710,1,506,9,1,NG,NaN,0,9.0,NaN,NaN,NaN,0.24
4512,1,506,9,2,NG,NaN,0,9.0,NaN,NaN,NaN,0.38

In [19]:
x.loc[(x['Nebengrund Art']==3.0),'Fläche in HA']

718    2.03
Name: Fläche in HA, dtype: float64

In [20]:
x['fl_ww'] = x.loc[(x['Bewirtschaftungsform']=='W'),'Fläche in HA']
x['fl_sw'] = x.loc[(x['Bewirtschaftungsform']=='S'),'Fläche in HA']
x['fl_nh'] = x.loc[(x['Nebengrund Art']==3.0),'Fläche in HA']
x['fl_rest'] = x.loc[(x['Nebengrund Art']==9.0),'Fläche in HA']

/Users/philipp/Python/anaconda3/envs/docx/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/philipp/Python/anaconda3/envs/docx/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/philipp/Python/anaconda3/envs/docx/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/philipp/Python/anaconda3/envs/docx/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [23]:
x['fl_ww'].sum()

33.080000000000005

In [30]:
xx = x.copy()

In [26]:
xx.loc['Total'] = pd.Series(xx['fl_ww'].sum(), index = ['fl_ww'])
xx.loc['Total'] = pd.Series(xx['fl_sw'].sum(), index = ['fl_sw'])
xx.loc['Total'] = pd.Series(xx['fl_nh'].sum(), index = ['fl_nh'])
xx.loc['Total'] = pd.Series(xx['fl_rest'].sum(), index = ['fl_rest'])

In [38]:
sum_df = {'fl_ww': xx['fl_ww'].sum(), 'fl_sw': xx['fl_sw'].sum(), 'fl_nh': xx['fl_nh'].sum(), 'fl_rest': xx['fl_rest'].sum()}

In [42]:
sum_df

{'fl_ww': 33.080000000000005, 'fl_sw': 0.0, 'fl_nh': 2.03, 'fl_rest': 0.62}

In [46]:
df = pd.DataFrame(data=sum_df, index = ["Total"])
df

       fl_ww  fl_sw  fl_nh  fl_rest
Total  33.08    0.0   2.03     0.62

In [49]:
xx = xx.append(df)

In [50]:
xx

,Abteilung,Betriebsklasse,Bewirtschaftungsform,Ertragssituation,Fläche in HA,Forstrevier,Nebengrund Art,Schutzwaldkategorie,Teilfl.,Umtriebszeit,Unterabteil.,WE-Typ,fl_nh,fl_rest,fl_sw,fl_ww
710,506.0,NaN,NaN,NaN,0.24,1.0,9.0,NaN,1.0,0.0,9,NG,NaN,0.24,NaN,NaN
714,506.0,NaN,NaN,NaN,0.09,1.0,5.0,NaN,1.0,0.0,5,NG,NaN,NaN,NaN,NaN
718,506.0,NaN,NaN,NaN,2.03,1.0,3.0,NaN,1.0,0.0,3,NG,2.03,NaN,NaN,NaN
804,506.0,9010.0,W,I,8.69,1.0,NaN,NaN,0.0,140.0,A,WO,NaN,NaN,NaN,8.69
830,506.0,9010.0,W,I,0.37,1.0,NaN,NaN,2.0,140.0,G,WO,NaN,NaN,NaN,0.37
843,506.0,9010.0,W,I,1.39,1.0,NaN,NaN,4.0,140.0,D,WO,NaN,NaN,NaN,1.39
849,506.0,9010.0,W,I,1.98,1.0,NaN,NaN,1.0,140.0,G,WO,NaN,NaN,NaN,1.98
859,506.0,9010.0,W,I,1.42,1.0,NaN,NaN,3.0,140.0,D,WO,NaN,NaN,NaN,1.42
882,506.0,9010.0,W,I,1.27,1.0,NaN,NaN,2.0,140.0,F,WO,NaN,NaN,NaN,1.27
885,506.0,9010.0,W,I,1.14,1.0,NaN,NaN,2.0,140.0,D,WO,NaN,NaN,NaN,1.14
906,506.0,9010.0,W,I,1.96,1.0,NaN,NaN,1.0,140.0,D,WO,NaN,NaN,NaN,1.96
909,506.0,9050.0,W,I,3.45,1.0,NaN,NaN,1.0,160.0,F,WO,NaN,NaN,NaN,3.45
928,506.0,9010.0,W,I,2.93,1.0,NaN,NaN,2.0,140.0,C,WO,NaN,NaN,NaN,2.93
933,506.0,9010.0,W,I,0.92,1.0,NaN,NaN,2.0,140.0,E,WO,NaN,NaN,NaN,0.92
955,506.0,9010.0,W,I,3.24,1.0,NaN,NaN,1.0,140.0,C,WO,NaN,NaN,NaN,3.24
959,506.0,9010.0,W,I,0.63,1.0,NaN,NaN,2.0,140.0,B,WO,NaN,NaN,NaN,0.63
963,506.0,9050.0,W,I,2.88,1.0,NaN,NaN,1.0,160.0,E,WO,NaN,NaN,NaN,2.88
994,506.0,9010.0,W,I,0.81,1.0,NaN,NaN,1.0,140.0,B,WO,NaN,NaN,NaN,0.81
4512,506.0,NaN,NaN,NaN,0.38,1.0,9.0,NaN,2.0,0.0,9,NG,NaN,0.38,NaN,NaN
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.03,0.62,0.0,33.08

In [51]:
x = xx.copy()

In [52]:
x = x[['Forstrevier', 'Abteilung', 'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse', 'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation', 'Bewirtschaftungsform', 'Schutzwaldkategorie', 'fl_ww', 'fl_sw', 'fl_nh', 'fl_rest']]
x = x.sort_values(['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True, False, True, True])

In [53]:
x.columns = ['FR', 'Abt', 'Uabt', 'Tfl', 'WE-Typ',
       'BKL', 'UZ', 'NG Typ', 'Et sit',
       'BW Typ', 'SW Typ', 'fl_ww', 'fl_sw',
       'fl_nh', 'fl_rest']

In [54]:
x = x.fillna('-')

In [55]:
# make

In [56]:
from OBFDocX import OBFDocX
# set home directory
#home_path = os.getcwd()[:os.getcwd().find('Code/obf_autop')-1]
# set data_path
temp_path = os.path.join(os.getcwd(), 'data')
temp_path

'/Users/philipp/Code/obf_autop/data'

In [57]:

obf_doc = OBFDocX(Document(temp_path + '/templet_xx.docx'))

version = '3.8'

print('***   0 Deckblatt   ***')

obf_doc.doc.add_picture(temp_path + '/oebf.png')

for i in range(4):
    obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('OPERAT')
p.bold = True
p.font.name = 'Verdana'
p.font.size = Pt(34)

p = obf_doc.doc.add_paragraph().add_run('FB ') #+ str(obf_fuc.dic.fb) + ' ' + obf_fuc.dic.dic_num_fb[obf_fuc.dic.fb])
p.bold = True
p.font.name = 'Verdana'
p.font.size = Pt(35)

obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('Teiloperat ') #+ str(obf_fuc.dic.to))
p.font.name = 'Verdana'
p.font.size = Pt(25)

for i in range(3):
    obf_doc.doc.add_paragraph('')

for i in ['Pernitz', 'Haselbach', 'Hinterbrühl']:

    p = obf_doc.doc.add_paragraph().add_run(i)
    p.font.name = 'Verdana'
    p.font.size = Pt(20)

#for i in range(12-(obf_fuc.loop_fr()[1:,0].shape[0]*2)):
#    p = obf_doc.doc.add_paragraph().add_run('')
#    p.font.size = Pt(20)

p = obf_doc.doc.add_paragraph().add_run('Organisationsstand 01.01.' + i)
p.font.name = 'Verdana'
p.font.size = Pt(18)

p = obf_doc.doc.add_paragraph().add_run('Laufzeit 01.01. - 31.12.')
p.font.name = 'Verdana'
p.font.size = Pt(18)

#for i in range(10-(obf_fuc.loop_fr()[1:,0].shape[0]*2)):
#    obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('Für die Unternehmensleitung                       Für der Forstbetrieb')
p.font.name = 'Verdana'
p.font.size = Pt(12)

obf_doc.doc.add_page_break()

for i in range(3):
    obf_doc.doc.add_paragraph('')

run = obf_doc.doc.add_paragraph('Erstellung vom Teiloperat mit AutOP ').add_run(' Version ' + version)
font = run.font
font.name = 'Verdana'
font.size = Pt(8)

width = [2,2,2,2,2,3,2,2,2,2,2,2,2,2,2,2]
obf_doc.docx_table_text(x, width, header_rep = True, header = 'Flächenübersicht [ha]', font_size = 7, autofit = True)

# save the doc
path_save = os.path.join(temp_path, 'flaechentabelle.docx')
obf_doc.doc.save(path_save)

print('end')
print('successfully made')

***   0 Deckblatt   ***
end
successfully made

In [39]:
x.shape

(19, 16)

In [43]:
x = x[['Forstrevier', 'Abteilung', 'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse', 'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation', 'Bewirtschaftungsform', 'Schutzwaldkategorie', 'fl_ww', 'fl_sw', 'fl_nh', 'fl_rest']]

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,fl_ww,fl_sw,fl_nh,fl_rest
804,1,506,A,0,WO,9010.0,140,NaN,I,W,NaN,8.69,NaN,NaN,NaN
994,1,506,B,1,WO,9010.0,140,NaN,I,W,NaN,0.81,NaN,NaN,NaN
959,1,506,B,2,WO,9010.0,140,NaN,I,W,NaN,0.63,NaN,NaN,NaN
955,1,506,C,1,WO,9010.0,140,NaN,I,W,NaN,3.24,NaN,NaN,NaN
928,1,506,C,2,WO,9010.0,140,NaN,I,W,NaN,2.93,NaN,NaN,NaN
906,1,506,D,1,WO,9010.0,140,NaN,I,W,NaN,1.96,NaN,NaN,NaN
885,1,506,D,2,WO,9010.0,140,NaN,I,W,NaN,1.14,NaN,NaN,NaN
859,1,506,D,3,WO,9010.0,140,NaN,I,W,NaN,1.42,NaN,NaN,NaN
843,1,506,D,4,WO,9010.0,140,NaN,I,W,NaN,1.39,NaN,NaN,NaN
963,1,506,E,1,WO,9050.0,160,NaN,I,W,NaN,2.88,NaN,NaN,NaN
933,1,506,E,2,WO,9010.0,140,NaN,I,W,NaN,0.92,NaN,NaN,NaN
909,1,506,F,1,WO,9050.0,160,NaN,I,W,NaN,3.45,NaN,NaN,NaN
882,1,506,F,2,WO,9010.0,140,NaN,I,W,NaN,1.27,NaN,NaN,NaN
849,1,506,G,1,WO,9010.0,140,NaN,I,W,NaN,1.98,NaN,NaN,NaN
830,1,506,G,2,WO,9010.0,140,NaN,I,W,NaN,0.37,NaN,NaN,NaN
718,1,506,3,1,NG,NaN,0,3.0,NaN,NaN,NaN,NaN,NaN,2.03,NaN
714,1,506,5,1,NG,NaN,0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,1,506,9,1,NG,NaN,0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,0.24
4512,1,506,9,2,NG,NaN,0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,0.38

In [ ]:
def run():
    '''
        run program
    '''
    
    obf_doc = OBFDocX(Document(temp_path + '/templet_xx.docx'))

    version = '3.8'
    
    print('***   0 Deckblatt   ***')

    obf_doc.doc.add_picture(temp_path + '/oebf.png')

    for i in range(4):
        obf_doc.doc.add_paragraph('')

    p = obf_doc.doc.add_paragraph().add_run('OPERAT')
    p.bold = True
    p.font.name = 'Verdana'
    p.font.size = Pt(34)

    p = obf_doc.doc.add_paragraph().add_run('FB ') #+ str(obf_fuc.dic.fb) + ' ' + obf_fuc.dic.dic_num_fb[obf_fuc.dic.fb])
    p.bold = True
    p.font.name = 'Verdana'
    p.font.size = Pt(35)

    obf_doc.doc.add_paragraph('')

    p = obf_doc.doc.add_paragraph().add_run('Teiloperat ') #+ str(obf_fuc.dic.to))
    p.font.name = 'Verdana'
    p.font.size = Pt(25)

    for i in range(3):
        obf_doc.doc.add_paragraph('')

    for i in obf_fuc.loop_fr()[1:]:

        p = obf_doc.doc.add_paragraph().add_run(obf_fuc.name_code(i)[1])
        p.font.name = 'Verdana'
        p.font.size = Pt(20)

    for i in range(12-(obf_fuc.loop_fr()[1:,0].shape[0]*2)):
        p = obf_doc.doc.add_paragraph().add_run('')
        p.font.size = Pt(20)

    p = obf_doc.doc.add_paragraph().add_run('Organisationsstand 01.01.' + obf_fuc.dic.laufzeit_begin)
    p.font.name = 'Verdana'
    p.font.size = Pt(18)

    p = obf_doc.doc.add_paragraph().add_run('Laufzeit 01.01.' + obf_fuc.dic.laufzeit_begin + ' - 31.12.' + obf_fuc.dic.laufzeit_end)
    p.font.name = 'Verdana'
    p.font.size = Pt(18)

    for i in range(10-(obf_fuc.loop_fr()[1:,0].shape[0]*2)):
        obf_doc.doc.add_paragraph('')

    p = obf_doc.doc.add_paragraph().add_run('Für die Unternehmensleitung                       Für der Forstbetrieb')
    p.font.name = 'Verdana'
    p.font.size = Pt(12)

    obf_doc.doc.add_page_break()

    for i in range(3):
        obf_doc.doc.add_paragraph('')

    run = obf_doc.doc.add_paragraph('Erstellung vom Teiloperat mit AutOP ').add_run(' Version ' + version)
    font = run.font
    font.name = 'Verdana'
    font.size = Pt(8)
    
    # save the doc
    path_save = os.path.join(self.data_path, 'flaechentabelle_' + str(obf_fuc.dic.to) + '.docx')
    obf_doc.doc.save(path_save)

    print('end')
    return('successfully made')