In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import docx

from docx import Document
from docx.oxml import OxmlElement
from docx.oxml.ns import qn
from docx.shared import Cm
from docx.shared import Pt

from docx.enum.section import WD_ORIENT
from docx.enum.section import WD_SECTION

In [2]:
# set home directory
home_path = os.getcwd()[:os.getcwd().find('Code/obf_autop')-1]
# set data_path
data_path = os.path.join(home_path, 'Data', 'obf_autop', 'TO1356', 'to_1356_sap.XLS')

In [3]:
data_path

'/Users/philipp/Data/obf_autop/TO1356/to_1356_sap.XLS'

In [4]:
data_raw = pd.read_csv(data_path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

/Users/philipp/Python/anaconda3/envs/docx/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (147,148,149) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
from OBFFlaechentabelle import OBFFlaechentabelle
flt = OBFFlaechentabelle(data_raw)

In [6]:
print(flt.fr)
print(flt.fr_abt[0])

[1 2 3 4 5]
[506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523
 524 533 534 535 536 537 538 595 596 597 598 599 648 649 650 651 652 653
 654 655 656 657 658 659 664 700 701 702 703 704 705 706 707 708 709 710
 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728
 729 730 731 732 733 734 735 736 737 738 739 740]

In [7]:
x = flt.create_table(1,510)
x

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [8]:
x.dtypes

NameError: name 'x' is not defined

In [10]:
x.describe

<bound method NDFrame.describe of      FR  Abt UAbt Tfl WE Typ   BKL   UZ EtrS BW Typ SW Typ NG Typ Fläche WW  \
945   1  510    A   1     WO  9060  120    I      W      -      -       5.6
874   1  510    A   2     WO  9010  120    I      W      -      -      4.03
783   1  510    A   3     WO  9010  120    I      W      -      -      1.53
1175  1  510    B   1     WO  9010  120    I      W      -      -      8.76
1191  1  510    B   2     WO  9010  140    I      W      -      -      1.38
1207  1  510    B   3     WO  9010  140    I      W      -      -      1.44
1242  1  510    B   4     WO  9010  140    I      W      -      -      1.69
1212  1  510    C   1     WO  9010  140    I      W      -      -      0.59
1195  1  510    C   2     WO  9010  140    I      W      -      -       1.2
1181  1  510    C   3     WO  9010  140    I      W      -      -      3.16
1134  1  510    C   4     WO  9010  140    I      W      -      -      1.71
1094  1  510    D   0     WO  9010  140    I      W      -      -      3.08
2113  1  510    3   1     NG     -    0    -      -      -      3         -
2018  1  510    7   1     NG     -    0    -      -      -      7         -
Ges.  -    -    -   -      -     -    -    -      -      -      -     34.17

     Fläche SW Fläche NHB Fläche pNG Fläche uNG  Fläche Ges
945          -          -          -          -        5.60
874          -          -          -          -        4.03
783          -          -          -          -        1.53
1175         -          -          -          -        8.76
1191         -          -          -          -        1.38
1207         -          -          -          -        1.44
1242         -          -          -          -        1.69
1212         -          -          -          -        0.59
1195         -          -          -          -        1.20
1181         -          -          -          -        3.16
1134         -          -          -          -        1.71
1094         -          -          -          -        3.08
2113         -       2.29          -          -        2.29
2018         -          -          -       0.03        0.03
Ges.         0       2.29          0       0.03       36.49  >

In [9]:
x['Abt'].astype(str)

945     510.0
874     510.0
783     510.0
1175    510.0
1191    510.0
1207    510.0
1242    510.0
1212    510.0
1195    510.0
1181    510.0
1134    510.0
1094    510.0
2113    510.0
2018    510.0
Ges.        -
Name: Abt, dtype: object

In [9]:
# Flaeche der WO (2.1)
data_wo_fl = data_raw[data_raw['Schichtalter'] == 0]

In [10]:
data_wo_fl.head()

,Merkmalausprägung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile1,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,Flächenanteil
0,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,0,NaN,1356,171,220442,FE 2019,2,01.01.2020,31.12.2029,291,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [11]:
data_wo_fl.columns[:100]

Index(['Merkmalausprägung', 'AuswKatTyp', 'Teiloperats-ID', 'Forstbetrieb',
       'Debitor', 'TO-Bezeichnung', 'Status', 'Beg. Laufzeit', 'Ende Laufzeit',
       'Operat-ID', 'vorgeschl. Hiebssatz', 'Verantwortlicher',
       'Erfassungsstatus', 'Migriert?', 'GUID', 'Forstbetrieb.1',
       'Teiloperats-ID.1', 'Forstrevier', 'Abteilung', 'Unterabteil.',
       'Teilfl.', 'Debitor.1', 'Bearbeitungsblock', 'WE-Typ', 'Betriebsklasse',
       'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation',
       'Bewirtschaftungsform', 'Schutzwaldkategorie', 'Fläche in HA',
       'Seehöhe', 'Exposition', 'Neigung', 'Standorteinheit', 'Vegetationstyp',
       'Waldtyp', 'Wuchsgebiet', 'Überh. Laubholz', 'Überh. Nadelhz.',
       'fr. Schälschade', 'Verbissgrad', 'SchutzwaldProjNr', 'Schlussgrad',
       'Stabilität', 'VJ Bedingung', 'VJ Situation', 'Erreichbark. des BZ',
       'Selektiver Verbiss', 'Erfassungsstatus.1', 'Storno', 'Angelegt von',
       'Angelegt am', 'Uhrzeit', 'Geändert von', 'Geändert am', 'Uhrzeit.1',
       'Waldort', 'GUID.1', 'GUID.2', 'Forstbetrieb.2', 'Teiloperats-ID.2',
       'Forstrevier.1', 'Abteilung.1', 'Unterabteil..1', 'Teilfl..1',
       'Best.-Schicht', 'Debitor.2', 'Schichtanteil', 'Schichtalter',
       'S-Best.grad', 'Erfassungsstatus.2', 'Storno.1', 'GUID.3', 'GUID.4',
       'Forstbetrieb.3', 'Teiloperats-ID.3', 'Forstrevier.2', 'Abteilung.2',
       'Unterabteil..2', 'Teilfl..2', 'Best.-Schicht.1', 'Baumart',
       'Debitor.3', 'Baumartenanteil', 'BaumartenBestockgrad', 'Schälgrad',
       'Ertragsklasse', 'Vorrat / ha', 'Laubholzvorrat / ha',
       'Nadelholzvorrat / ha', 'Vorrat am Ort', 'Laubholzvorrat Ort',
       'Nadelholzvorrat Ort', 'GSOLL / HA', 'GIST / HA', 'lauf. Zuwachs / HA',
       'DGZU / HA', 'HDZ', 'LGZ'],
      dtype='object')

In [12]:
data_wo_fl = data_wo_fl[['Forstrevier','Abteilung', 'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse',
       'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation',
       'Bewirtschaftungsform', 'Schutzwaldkategorie', 'Fläche in HA']]

In [13]:
# get Forstreviere 
fr = np.sort(data_wo_fl['Forstrevier'].unique())
print(fr)

[1 2 3 4 5]

In [14]:
# get Abteilungen for every Forstrevier
fr_abt = []
for f in fr:
    fr_abt.append(np.sort(data_wo_fl.loc[data_wo_fl['Forstrevier']==f,'Abteilung'].unique()))

In [15]:
fr_abt[0]

array([506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518,
       519, 520, 521, 522, 523, 524, 533, 534, 535, 536, 537, 538, 595,
       596, 597, 598, 599, 648, 649, 650, 651, 652, 653, 654, 655, 656,
       657, 658, 659, 664, 700, 701, 702, 703, 704, 705, 706, 707, 708,
       709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721,
       722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734,
       735, 736, 737, 738, 739, 740])

In [32]:
def create_table(fr, abt):

    # filter one Abteilung
    table = data_wo_fl.loc[(data_wo_fl['Forstrevier']==fr) & (data_wo_fl['Abteilung']==abt)]
    # sort table by WE-Typ , unterabteil. , Teilfl.
    table = table.sort_values(['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True, False, True, True])

    table['fl_ww'] = table.loc[(table['Bewirtschaftungsform']=='W'),'Fläche in HA']
    table['fl_sw'] = table.loc[(table['Bewirtschaftungsform']=='S'),'Fläche in HA']
    table['fl_nh'] = table.loc[(table['Nebengrund Art']==3.0),'Fläche in HA']
    table['fl_rest'] = table.loc[(table['Nebengrund Art']==9.0),'Fläche in HA']

    sum_fl = {'Fläche in HA': table['Fläche in HA'].sum(), 'fl_ww': table['fl_ww'].sum(), 'fl_sw': table['fl_sw'].sum(), 'fl_nh': table['fl_nh'].sum(), 'fl_rest': table['fl_rest'].sum()}
    sum_df = pd.DataFrame(data=sum_fl, index = ["Total"])
    table = table.append(sum_df, sort=False)
    #table = table.fillna('-')
    table.columns = ['FR', 'Abt', 'UAbt', 'Tfl', 'WE Typ', 'BKL', 'UZ', 'NG Typ', 'EtrS', \
        'BW Typ', 'SW Typ', 'Fläche Ges', 'Fläche WW', 'Fläche SW', 'Fläche NHB', 'Fläche Rest']
    
    table = table.reindex(columns= ['FR', 'Abt', 'UAbt', 'Tfl', 'WE Typ', 'BKL', 'UZ', 'EtrS', \
        'BW Typ', 'SW Typ', 'NG Typ', 'Fläche WW', 'Fläche SW', 'Fläche NHB', 'Fläche Rest', 'Fläche Ges'])
    table = table.round(2)
    

    return table

In [33]:
print(create_table(1, 506))

        FR    Abt UAbt  Tfl WE Typ     BKL     UZ EtrS BW Typ  SW Typ  NG Typ  \
804    1.0  506.0    A  0.0     WO  9010.0  140.0    I      W     NaN     NaN
994    1.0  506.0    B  1.0     WO  9010.0  140.0    I      W     NaN     NaN
959    1.0  506.0    B  2.0     WO  9010.0  140.0    I      W     NaN     NaN
955    1.0  506.0    C  1.0     WO  9010.0  140.0    I      W     NaN     NaN
928    1.0  506.0    C  2.0     WO  9010.0  140.0    I      W     NaN     NaN
906    1.0  506.0    D  1.0     WO  9010.0  140.0    I      W     NaN     NaN
885    1.0  506.0    D  2.0     WO  9010.0  140.0    I      W     NaN     NaN
859    1.0  506.0    D  3.0     WO  9010.0  140.0    I      W     NaN     NaN
843    1.0  506.0    D  4.0     WO  9010.0  140.0    I      W     NaN     NaN
963    1.0  506.0    E  1.0     WO  9050.0  160.0    I      W     NaN     NaN
933    1.0  506.0    E  2.0     WO  9010.0  140.0    I      W     NaN     NaN
909    1.0  506.0    F  1.0     WO  9050.0  160.0    I      W     NaN     NaN
882    1.0  506.0    F  2.0     WO  9010.0  140.0    I      W     NaN     NaN
849    1.0  506.0    G  1.0     WO  9010.0  140.0    I      W     NaN     NaN
830    1.0  506.0    G  2.0     WO  9010.0  140.0    I      W     NaN     NaN
718    1.0  506.0    3  1.0     NG     NaN    0.0  NaN    NaN     NaN     3.0
714    1.0  506.0    5  1.0     NG     NaN    0.0  NaN    NaN     NaN     5.0
710    1.0  506.0    9  1.0     NG     NaN    0.0  NaN    NaN     NaN     9.0
4512   1.0  506.0    9  2.0     NG     NaN    0.0  NaN    NaN     NaN     9.0
Total  NaN    NaN  NaN  NaN    NaN     NaN    NaN  NaN    NaN     NaN     NaN

       Fläche WW  Fläche SW  Fläche NHB  Fläche Rest  Fläche Ges
804         8.69        NaN         NaN          NaN        8.69
994         0.81        NaN         NaN          NaN        0.81
959         0.63        NaN         NaN          NaN        0.63
955         3.24        NaN         NaN          NaN        3.24
928         2.93        NaN         NaN          NaN        2.93
906         1.96        NaN         NaN          NaN        1.96
885         1.14        NaN         NaN          NaN        1.14
859         1.42        NaN         NaN          NaN        1.42
843         1.39        NaN         NaN          NaN        1.39
963         2.88        NaN         NaN          NaN        2.88
933         0.92        NaN         NaN          NaN        0.92
909         3.45        NaN         NaN          NaN        3.45
882         1.27        NaN         NaN          NaN        1.27
849         1.98        NaN         NaN          NaN        1.98
830         0.37        NaN         NaN          NaN        0.37
718          NaN        NaN        2.03          NaN        2.03
714          NaN        NaN         NaN          NaN        0.09
710          NaN        NaN         NaN         0.24        0.24
4512         NaN        NaN         NaN         0.38        0.38
Total      33.08        0.0        2.03         0.62       35.82

In [25]:
x = create_table(1, 506)

In [27]:
x['Abt'].astype(str)

804      506.0
994      506.0
959      506.0
955      506.0
928      506.0
906      506.0
885      506.0
859      506.0
843      506.0
963      506.0
933      506.0
909      506.0
882      506.0
849      506.0
830      506.0
718      506.0
714      506.0
710      506.0
4512     506.0
Total      nan
Name: Abt, dtype: object

In [16]:
# filter one Abteilung
x = data_wo_fl.loc[(data_wo_fl['Forstrevier']==1) & (data_wo_fl['Abteilung']==506)]
# sort WE-Typ , unterabteil. , Teilfl.
x = x.sort_values(['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True, False, True, True])

In [17]:
x

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA
804,1,506,A,0,WO,9010.0,140,NaN,I,W,NaN,8.69
994,1,506,B,1,WO,9010.0,140,NaN,I,W,NaN,0.81
959,1,506,B,2,WO,9010.0,140,NaN,I,W,NaN,0.63
955,1,506,C,1,WO,9010.0,140,NaN,I,W,NaN,3.24
928,1,506,C,2,WO,9010.0,140,NaN,I,W,NaN,2.93
906,1,506,D,1,WO,9010.0,140,NaN,I,W,NaN,1.96
885,1,506,D,2,WO,9010.0,140,NaN,I,W,NaN,1.14
859,1,506,D,3,WO,9010.0,140,NaN,I,W,NaN,1.42
843,1,506,D,4,WO,9010.0,140,NaN,I,W,NaN,1.39
963,1,506,E,1,WO,9050.0,160,NaN,I,W,NaN,2.88
933,1,506,E,2,WO,9010.0,140,NaN,I,W,NaN,0.92
909,1,506,F,1,WO,9050.0,160,NaN,I,W,NaN,3.45
882,1,506,F,2,WO,9010.0,140,NaN,I,W,NaN,1.27
849,1,506,G,1,WO,9010.0,140,NaN,I,W,NaN,1.98
830,1,506,G,2,WO,9010.0,140,NaN,I,W,NaN,0.37
718,1,506,3,1,NG,NaN,0,3.0,NaN,NaN,NaN,2.03
714,1,506,5,1,NG,NaN,0,5.0,NaN,NaN,NaN,0.09
710,1,506,9,1,NG,NaN,0,9.0,NaN,NaN,NaN,0.24
4512,1,506,9,2,NG,NaN,0,9.0,NaN,NaN,NaN,0.38

In [17]:
x[x['Nebengrund Art']==3.0]

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA
718,1,506,3,1,NG,NaN,0,3.0,NaN,NaN,NaN,2.03

In [18]:
x[x['Nebengrund Art']==9.0]

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA
710,1,506,9,1,NG,NaN,0,9.0,NaN,NaN,NaN,0.24
4512,1,506,9,2,NG,NaN,0,9.0,NaN,NaN,NaN,0.38

In [19]:
x.loc[(x['Nebengrund Art']==3.0),'Fläche in HA']

718    2.03
Name: Fläche in HA, dtype: float64

In [18]:
x['fl_ww'] = x.loc[(x['Bewirtschaftungsform']=='W'),'Fläche in HA']
x['fl_sw'] = x.loc[(x['Bewirtschaftungsform']=='S'),'Fläche in HA']
x['fl_nh'] = x.loc[(x['Nebengrund Art']==3.0),'Fläche in HA']
x['fl_rest'] = x.loc[(x['Nebengrund Art']==9.0),'Fläche in HA']

In [19]:
x

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,Fläche in HA,fl_ww,fl_sw,fl_nh,fl_rest
804,1,506,A,0,WO,9010.0,140,NaN,I,W,NaN,8.69,8.69,NaN,NaN,NaN
994,1,506,B,1,WO,9010.0,140,NaN,I,W,NaN,0.81,0.81,NaN,NaN,NaN
959,1,506,B,2,WO,9010.0,140,NaN,I,W,NaN,0.63,0.63,NaN,NaN,NaN
955,1,506,C,1,WO,9010.0,140,NaN,I,W,NaN,3.24,3.24,NaN,NaN,NaN
928,1,506,C,2,WO,9010.0,140,NaN,I,W,NaN,2.93,2.93,NaN,NaN,NaN
906,1,506,D,1,WO,9010.0,140,NaN,I,W,NaN,1.96,1.96,NaN,NaN,NaN
885,1,506,D,2,WO,9010.0,140,NaN,I,W,NaN,1.14,1.14,NaN,NaN,NaN
859,1,506,D,3,WO,9010.0,140,NaN,I,W,NaN,1.42,1.42,NaN,NaN,NaN
843,1,506,D,4,WO,9010.0,140,NaN,I,W,NaN,1.39,1.39,NaN,NaN,NaN
963,1,506,E,1,WO,9050.0,160,NaN,I,W,NaN,2.88,2.88,NaN,NaN,NaN
933,1,506,E,2,WO,9010.0,140,NaN,I,W,NaN,0.92,0.92,NaN,NaN,NaN
909,1,506,F,1,WO,9050.0,160,NaN,I,W,NaN,3.45,3.45,NaN,NaN,NaN
882,1,506,F,2,WO,9010.0,140,NaN,I,W,NaN,1.27,1.27,NaN,NaN,NaN
849,1,506,G,1,WO,9010.0,140,NaN,I,W,NaN,1.98,1.98,NaN,NaN,NaN
830,1,506,G,2,WO,9010.0,140,NaN,I,W,NaN,0.37,0.37,NaN,NaN,NaN
718,1,506,3,1,NG,NaN,0,3.0,NaN,NaN,NaN,2.03,NaN,NaN,2.03,NaN
714,1,506,5,1,NG,NaN,0,5.0,NaN,NaN,NaN,0.09,NaN,NaN,NaN,NaN
710,1,506,9,1,NG,NaN,0,9.0,NaN,NaN,NaN,0.24,NaN,NaN,NaN,0.24
4512,1,506,9,2,NG,NaN,0,9.0,NaN,NaN,NaN,0.38,NaN,NaN,NaN,0.38

In [23]:
x['fl_ww'].sum()

33.080000000000005

In [30]:
xx = x.copy()

In [26]:
xx.loc['Total'] = pd.Series(xx['fl_ww'].sum(), index = ['fl_ww'])
xx.loc['Total'] = pd.Series(xx['fl_sw'].sum(), index = ['fl_sw'])
xx.loc['Total'] = pd.Series(xx['fl_nh'].sum(), index = ['fl_nh'])
xx.loc['Total'] = pd.Series(xx['fl_rest'].sum(), index = ['fl_rest'])

In [38]:
sum_df = {'fl_ww': xx['fl_ww'].sum(), 'fl_sw': xx['fl_sw'].sum(), 'fl_nh': xx['fl_nh'].sum(), 'fl_rest': xx['fl_rest'].sum()}

In [42]:
sum_df

{'fl_ww': 33.080000000000005, 'fl_sw': 0.0, 'fl_nh': 2.03, 'fl_rest': 0.62}

In [46]:
df = pd.DataFrame(data=sum_df, index = ["Total"])
df

       fl_ww  fl_sw  fl_nh  fl_rest
Total  33.08    0.0   2.03     0.62

In [49]:
xx = xx.append(df)

In [50]:
xx

,Abteilung,Betriebsklasse,Bewirtschaftungsform,Ertragssituation,Fläche in HA,Forstrevier,Nebengrund Art,Schutzwaldkategorie,Teilfl.,Umtriebszeit,Unterabteil.,WE-Typ,fl_nh,fl_rest,fl_sw,fl_ww
710,506.0,NaN,NaN,NaN,0.24,1.0,9.0,NaN,1.0,0.0,9,NG,NaN,0.24,NaN,NaN
714,506.0,NaN,NaN,NaN,0.09,1.0,5.0,NaN,1.0,0.0,5,NG,NaN,NaN,NaN,NaN
718,506.0,NaN,NaN,NaN,2.03,1.0,3.0,NaN,1.0,0.0,3,NG,2.03,NaN,NaN,NaN
804,506.0,9010.0,W,I,8.69,1.0,NaN,NaN,0.0,140.0,A,WO,NaN,NaN,NaN,8.69
830,506.0,9010.0,W,I,0.37,1.0,NaN,NaN,2.0,140.0,G,WO,NaN,NaN,NaN,0.37
843,506.0,9010.0,W,I,1.39,1.0,NaN,NaN,4.0,140.0,D,WO,NaN,NaN,NaN,1.39
849,506.0,9010.0,W,I,1.98,1.0,NaN,NaN,1.0,140.0,G,WO,NaN,NaN,NaN,1.98
859,506.0,9010.0,W,I,1.42,1.0,NaN,NaN,3.0,140.0,D,WO,NaN,NaN,NaN,1.42
882,506.0,9010.0,W,I,1.27,1.0,NaN,NaN,2.0,140.0,F,WO,NaN,NaN,NaN,1.27
885,506.0,9010.0,W,I,1.14,1.0,NaN,NaN,2.0,140.0,D,WO,NaN,NaN,NaN,1.14
906,506.0,9010.0,W,I,1.96,1.0,NaN,NaN,1.0,140.0,D,WO,NaN,NaN,NaN,1.96
909,506.0,9050.0,W,I,3.45,1.0,NaN,NaN,1.0,160.0,F,WO,NaN,NaN,NaN,3.45
928,506.0,9010.0,W,I,2.93,1.0,NaN,NaN,2.0,140.0,C,WO,NaN,NaN,NaN,2.93
933,506.0,9010.0,W,I,0.92,1.0,NaN,NaN,2.0,140.0,E,WO,NaN,NaN,NaN,0.92
955,506.0,9010.0,W,I,3.24,1.0,NaN,NaN,1.0,140.0,C,WO,NaN,NaN,NaN,3.24
959,506.0,9010.0,W,I,0.63,1.0,NaN,NaN,2.0,140.0,B,WO,NaN,NaN,NaN,0.63
963,506.0,9050.0,W,I,2.88,1.0,NaN,NaN,1.0,160.0,E,WO,NaN,NaN,NaN,2.88
994,506.0,9010.0,W,I,0.81,1.0,NaN,NaN,1.0,140.0,B,WO,NaN,NaN,NaN,0.81
4512,506.0,NaN,NaN,NaN,0.38,1.0,9.0,NaN,2.0,0.0,9,NG,NaN,0.38,NaN,NaN
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.03,0.62,0.0,33.08

In [51]:
x = xx.copy()

In [52]:
x = x[['Forstrevier', 'Abteilung', 'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse', 'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation', 'Bewirtschaftungsform', 'Schutzwaldkategorie', 'fl_ww', 'fl_sw', 'fl_nh', 'fl_rest']]
x = x.sort_values(['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True, False, True, True])

In [53]:
x.columns = ['FR', 'Abt', 'Uabt', 'Tfl', 'WE-Typ',
       'BKL', 'UZ', 'NG Typ', 'Et sit',
       'BW Typ', 'SW Typ', 'fl_ww', 'fl_sw',
       'fl_nh', 'fl_rest']

In [54]:
x = x.fillna('-')

In [55]:
# make

In [7]:
from OBFDocX import OBFDocX
from OBFFlaechentabelle import OBFFlaechentabelle

# set home directory
#home_path = os.getcwd()[:os.getcwd().find('Code/obf_autop')-1]
# set data_path
temp_path = os.path.join(os.getcwd(), 'data')
temp_path

flt = OBFFlaechentabelle(data_raw)

In [8]:

obf_doc = OBFDocX(Document(temp_path + '/templet_xx.docx'))

version = '3.8'

print('***   0 Deckblatt   ***')

obf_doc.doc.add_picture(temp_path + '/oebf.png')

for i in range(4):
    obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('OPERAT')
p.bold = True
p.font.name = 'Verdana'
p.font.size = Pt(34)

p = obf_doc.doc.add_paragraph().add_run('FB ') #+ str(obf_fuc.dic.fb) + ' ' + obf_fuc.dic.dic_num_fb[obf_fuc.dic.fb])
p.bold = True
p.font.name = 'Verdana'
p.font.size = Pt(35)

obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('Teiloperat ') #+ str(obf_fuc.dic.to))
p.font.name = 'Verdana'
p.font.size = Pt(25)

for i in range(3):
    obf_doc.doc.add_paragraph('')

for i in ['Pernitz', 'Haselbach', 'Hinterbrühl']:

    p = obf_doc.doc.add_paragraph().add_run(i)
    p.font.name = 'Verdana'
    p.font.size = Pt(20)

#for i in range(12-(obf_fuc.loop_fr()[1:,0].shape[0]*2)):
#    p = obf_doc.doc.add_paragraph().add_run('')
#    p.font.size = Pt(20)

p = obf_doc.doc.add_paragraph().add_run('Organisationsstand 01.01.' + i)
p.font.name = 'Verdana'
p.font.size = Pt(18)

p = obf_doc.doc.add_paragraph().add_run('Laufzeit 01.01. - 31.12.')
p.font.name = 'Verdana'
p.font.size = Pt(18)

#for i in range(10-(obf_fuc.loop_fr()[1:,0].shape[0]*2)):
#    obf_doc.doc.add_paragraph('')

p = obf_doc.doc.add_paragraph().add_run('Für die Unternehmensleitung                       Für der Forstbetrieb')
p.font.name = 'Verdana'
p.font.size = Pt(12)

obf_doc.doc.add_page_break()

for i in range(3):
    obf_doc.doc.add_paragraph('')

run = obf_doc.doc.add_paragraph('Erstellung vom Teiloperat mit AutOP ').add_run(' Version ' + version)
font = run.font
font.name = 'Verdana'
font.size = Pt(8)

fr = 1
for abt in flt.fr_abt[fr-1][0:10]:
    print(abt)
    table = flt.create_table(fr, abt)
    width = [2,2,2,2,2,3,2,2,2,2,2,2,2,2,2,2,2]
    obf_doc.docx_table_text(table, width, header_rep = True, header = 'Abteilung - '+ str(abt), font_size = 7, autofit = True)
    obf_doc.doc.add_paragraph('')
    obf_doc.doc.add_paragraph('')
    
# save the doc
path_save = os.path.join(temp_path, 'flaechentabelle.docx')
obf_doc.doc.save(path_save)

print('end')
print('successfully made')

***   0 Deckblatt   ***
506
507
508
509
510
511
512
513
514
515
end
successfully made

In [39]:
x.shape

(19, 16)

In [43]:
x = x[['Forstrevier', 'Abteilung', 'Unterabteil.', 'Teilfl.', 'WE-Typ', 'Betriebsklasse', 'Umtriebszeit', 'Nebengrund Art', 'Ertragssituation', 'Bewirtschaftungsform', 'Schutzwaldkategorie', 'fl_ww', 'fl_sw', 'fl_nh', 'fl_rest']]

,Forstrevier,Abteilung,Unterabteil.,Teilfl.,WE-Typ,Betriebsklasse,Umtriebszeit,Nebengrund Art,Ertragssituation,Bewirtschaftungsform,Schutzwaldkategorie,fl_ww,fl_sw,fl_nh,fl_rest
804,1,506,A,0,WO,9010.0,140,NaN,I,W,NaN,8.69,NaN,NaN,NaN
994,1,506,B,1,WO,9010.0,140,NaN,I,W,NaN,0.81,NaN,NaN,NaN
959,1,506,B,2,WO,9010.0,140,NaN,I,W,NaN,0.63,NaN,NaN,NaN
955,1,506,C,1,WO,9010.0,140,NaN,I,W,NaN,3.24,NaN,NaN,NaN
928,1,506,C,2,WO,9010.0,140,NaN,I,W,NaN,2.93,NaN,NaN,NaN
906,1,506,D,1,WO,9010.0,140,NaN,I,W,NaN,1.96,NaN,NaN,NaN
885,1,506,D,2,WO,9010.0,140,NaN,I,W,NaN,1.14,NaN,NaN,NaN
859,1,506,D,3,WO,9010.0,140,NaN,I,W,NaN,1.42,NaN,NaN,NaN
843,1,506,D,4,WO,9010.0,140,NaN,I,W,NaN,1.39,NaN,NaN,NaN
963,1,506,E,1,WO,9050.0,160,NaN,I,W,NaN,2.88,NaN,NaN,NaN
933,1,506,E,2,WO,9010.0,140,NaN,I,W,NaN,0.92,NaN,NaN,NaN
909,1,506,F,1,WO,9050.0,160,NaN,I,W,NaN,3.45,NaN,NaN,NaN
882,1,506,F,2,WO,9010.0,140,NaN,I,W,NaN,1.27,NaN,NaN,NaN
849,1,506,G,1,WO,9010.0,140,NaN,I,W,NaN,1.98,NaN,NaN,NaN
830,1,506,G,2,WO,9010.0,140,NaN,I,W,NaN,0.37,NaN,NaN,NaN
718,1,506,3,1,NG,NaN,0,3.0,NaN,NaN,NaN,NaN,NaN,2.03,NaN
714,1,506,5,1,NG,NaN,0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,1,506,9,1,NG,NaN,0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,0.24
4512,1,506,9,2,NG,NaN,0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,0.38

In [ ]:
def run():
    '''
        run program
    '''
    
    obf_doc = OBFDocX(Document(temp_path + '/templet_xx.docx'))

    version = '3.8'
    
    print('***   0 Deckblatt   ***')

    obf_doc.doc.add_picture(temp_path + '/oebf.png')

    for i in range(4):
        obf_doc.doc.add_paragraph('')

    p = obf_doc.doc.add_paragraph().add_run('OPERAT')
    p.bold = True
    p.font.name = 'Verdana'
    p.font.size = Pt(34)

    p = obf_doc.doc.add_paragraph().add_run('FB ') #+ str(obf_fuc.dic.fb) + ' ' + obf_fuc.dic.dic_num_fb[obf_fuc.dic.fb])
    p.bold = True
    p.font.name = 'Verdana'
    p.font.size = Pt(35)

    obf_doc.doc.add_paragraph('')

    p = obf_doc.doc.add_paragraph().add_run('Teiloperat ') #+ str(obf_fuc.dic.to))
    p.font.name = 'Verdana'
    p.font.size = Pt(25)

    for i in range(3):
        obf_doc.doc.add_paragraph('')

    for i in obf_fuc.loop_fr()[1:]:

        p = obf_doc.doc.add_paragraph().add_run(obf_fuc.name_code(i)[1])
        p.font.name = 'Verdana'
        p.font.size = Pt(20)

    for i in range(12-(obf_fuc.loop_fr()[1:,0].shape[0]*2)):
        p = obf_doc.doc.add_paragraph().add_run('')
        p.font.size = Pt(20)

    p = obf_doc.doc.add_paragraph().add_run('Organisationsstand 01.01.' + obf_fuc.dic.laufzeit_begin)
    p.font.name = 'Verdana'
    p.font.size = Pt(18)

    p = obf_doc.doc.add_paragraph().add_run('Laufzeit 01.01.' + obf_fuc.dic.laufzeit_begin + ' - 31.12.' + obf_fuc.dic.laufzeit_end)
    p.font.name = 'Verdana'
    p.font.size = Pt(18)

    for i in range(10-(obf_fuc.loop_fr()[1:,0].shape[0]*2)):
        obf_doc.doc.add_paragraph('')

    p = obf_doc.doc.add_paragraph().add_run('Für die Unternehmensleitung                       Für der Forstbetrieb')
    p.font.name = 'Verdana'
    p.font.size = Pt(12)

    obf_doc.doc.add_page_break()

    for i in range(3):
        obf_doc.doc.add_paragraph('')

    run = obf_doc.doc.add_paragraph('Erstellung vom Teiloperat mit AutOP ').add_run(' Version ' + version)
    font = run.font
    font.name = 'Verdana'
    font.size = Pt(8)
    
    # save the doc
    path_save = os.path.join(self.data_path, 'flaechentabelle_' + str(obf_fuc.dic.to) + '.docx')
    obf_doc.doc.save(path_save)

    print('end')
    return('successfully made')